<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/static/js/home/script.js" ></script>
    <script type="text/javascript" src="/static/js/admin/addArticle.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/home/style.css" />
    <!-- <link rel="stylesheet" href="/static/css/home/aboutUs_contact.css"> -->
    <link rel="stylesheet" href="/static/css/home/fonts.css">
    <link rel="stylesheet" href="/static/css/home/animation.css">
  </head>
  <body>
    <form class="container">
      <div class="row form-group">
        <label for="title">标题</label>
        <input type="text" id="title">
      </div>
      <div class="row form-group">
        <label for="cover">封面地址</label>
        <input type="text" id="cover">
      </div>
      <div class="row form-group">
        <label for="date">发表日期</label>
        <input id="date" type="date" value="">
        <script>$('#date').datepicker();</script>
      </div>
      <div class="row form-group">
        <label for="abstract">概述</label>
        <textarea name="name" id="abstract" rows="8" cols="80"></textarea>
      </div>
      <div class="row form-group">
        <label for="html">内容</label>
        <textarea name="name" id="html" rows="8" cols="80"></textarea>
      </div>
      <div class="row form-group">
        <label for="style">特殊格式</label>
        <textarea name="name" id="style" rows="8" cols="80"></textarea>
      </div>
      <div class="row justify-content-center">
        <button type="submit">完成提交</button>
      </div>
    </form>
  </body>
