<!DOCTYPE html>
<html lang="en">
  <head>
    <title>美国厚德留学国际教育集团(WholeDe Education International, Inc.)</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <script type="text/javascript" src="/static/js/home/script.js" ></script>
    <script type="text/javascript" src="/static/js/home/aboutUs_contact.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/home/style.css" />
    <link rel="stylesheet" href="/static/css/home/aboutUs_contact.css">
    <link rel="stylesheet" href="/static/css/home/fonts.css">
    <link rel="stylesheet" href="/static/css/home/animation.css">
  </head>
  <body>
    <% include navbar.ejs %>
    <% include fixedicon.ejs %>
    <div class="banner">
      <img src="/static/img/aboutUs_contact_banner.png" alt="">
      <div class="ontop-en">
        <p>WholeDe Education International is an American study institution located in the United States for international students. It is committed to studying the development and trend of culture and education between China and the United States. WoleDe provides the most professional all-round service for U.S study, including high school application, college (graduate school) application, college transfer, school dissmissel emergency service, accommedation, academic enhancment, summer camp. WholeDe’s  core is to establish a professional, prestigious, high quality, integrity US local service brand. </p>
        <p>The company’s headquarter is located in the Atlanta area of Georgia, also known as the Silicon Valley of the United States, adjacent to three prestigious universities (Emory, Georgia Tech, and University of Georgia) and WholeDe has established partnerships with several U.S schools and educational institutions. WholeDe education is consituted by a highly efficient, professional, and rich experienced advisory team and a group of elites.
          All the application documents are polished and revised by our U.S all-star team. Our goal is to assist International students to achieve their ameircan dreams! </p>
      </div>
      <div class="ontop">
        <p>美国厚德教育是坐落于美国本土面向留学生的美国留学机构，致力于研究中美之间的文化教育发展与趋势；
          提供最专业的美国留学一站式服务，服务项目包括美国初高中申请，美国高中转学，美国大学（研究生）申请，美国大学转学，美国学校开除紧急应对， 落地安置，学业提升，美国夏令营等，希望成功打造专业、权威、优质、诚信的美国本土留学服务品牌。</p>
        <p>美国厚德教育位于素有美国南方硅谷之称的佐治亚州亚特兰大地区，与三所所名牌大学（埃默里大学，佐治亚理工大学，佐治亚大学）相邻，并与多家美国院校及教育机构建立了合作关系。
          厚德教育汇聚了一支高效率、专业化、拥有丰富美国留学经验的咨询顾问团队及一批在美国名校就读或毕业的学术精英团队，所有申请文书均由美籍团队完成，为每一位留学生实现他们的美国求学梦保驾护航！</p>
      </div>
    </div>
    <div class="container online w-100 px-0 mx-0" id="contactInfo">
      <div class="container w-100 mx-0 px-0">
        <div class="heading py-5 mx-0">
          <div class="row justify-content-center">
            <h1 class="col-auto"><%=__('aboutus_contact_heading1_1')%></h1>
          </div>
          <div class="row justify-content-center">
            <h1 class="col-auto" style="border-top:2px solid #90ADBB;line-height:200%; width:35%"><%=__('aboutus_contact_heading1_2')%></h1>
          </div>
        </div>
      </div>
      <div class="container message">
        <div class="alert alert-success" role="alert">
          <strong>Success</strong> Your information has already been sent to our database. We well connect with you as soon as possible.
        </div>
        <form>
          <div class="row justify-content-center">
            <div class="form-group col-5 pr-4 mustfill1">
              <label class="sr-only" for="yourName"><%=__('aboutus_contact_name')%></label>
              <input type="text" id="yourName" placeholder="<%=__('aboutus_contact_name')%>">
            </div>
            <div class="form-group col-5 pl-4 mustfill2">
              <label class="sr-only" for="yourPhone"><%=__('aboutus_contact_phone')%></label>
              <input type="text" id="yourPhone" placeholder="<%=__('aboutus_contact_phone')%>">
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="form-group col-10 mustfill3">
              <label class="sr-only" for="yourEmail"><%=__('aboutus_contact_email')%></label>
              <input type="text" id="yourEmail" placeholder="<%=__('aboutus_contact_email')%>">
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="form-group col-10">
              <label class="sr-only" for="yourProgram"><%=__('aboutus_contact_subject')%></label>
              <input type="text" id="yourProgram" placeholder="<%=__('aboutus_contact_subject')%>">
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="form-group col-10">
              <label class="sr-only" for="yourRequest"><%=__('aboutus_contact_content')%></label>
              <textarea type="text" id="yourRequest" placeholder="<%=__('aboutus_contact_content')%>"></textarea>
            </div>
          </div>
          <div class="row justify-content-center">
            <button type="submit"><%=__('submit')%></button>
          </div>
        </form>
      </div>
    </div>
    <div class="container contact w-100">
      <div class="row heading justify-content-center">
        <h1><%=__('aboutus_contact_heading2')%></h1>
      </div>
      <div class="row icons">
        <div class="col-4">
          <div class="row justify-content-center">
            <div class="col-4">
              <img src="/static/img/aboutUs_contact_wechat.png" alt="">
            </div>
          </div>
          <div class="row justify-content-center">
            <h3><%=__('aboutus_contact_wechatus')%></h3>
          </div>
          <div class="row justify-content-center">
            <p>MentoringMate</p>
          </div>
        </div>
        <div class="col-4">
          <div class="row justify-content-center">
            <div class="col-4">
              <img src="/static/img/aboutUs_contact_cellphone.png" alt="">
            </div>
          </div>
          <div class="row justify-content-center">
            <h3><%=__('aboutus_contact_phoneus')%></h3>
          </div>
          <div class="row justify-content-center">
            <p>+1 (800) 658-6899</p>
          </div>
        </div>
        <div class="col-4">
          <div class="row justify-content-center">
            <div class="col-4">
              <img src="/static/img/aboutUs_contact_email.png" alt="">
            </div>
          </div>
          <div class="row justify-content-center">
            <h3><%=__('aboutus_contact_emailus')%></h3>
          </div>
          <div class="row justify-content-center">
            <p>info@wholede.org</p>
          </div>
        </div>
      </div>
      <!-- <div class="row address">
        <div class="col-5 details">
          <div class="row">
            <div class="col-3">
              <img src="/static/img/aboutUs_contact_atlanta.png" alt="">
            </div>
            <div class="col-auto pt-1">
              <p>乔治亚总部<br>2300 Lakeview Pkwy, Suite 7,<br>Alpharetta, GA 30009</p>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <img src="/static/img/aboutUs_contact_gainesville.png" alt="">
            </div>
            <div class="col-auto pt-1">
              <p>佛罗里达办公室<br>2772 NW 43rd St, Suite B2<br>Gainesville, FL 32606</p>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <img src="/static/img/aboutUs_contact_sanjose.png" alt="">
            </div>
            <div class="col-auto pt-1">
              <p>加利福尼亚办公室<br>99 South Almaden Blvd. Suite 600,<br>San Jose, CA 95113</p>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <img src="/static/img/aboutUs_contact_beijing.png" alt="">
            </div>
            <div class="col-auto pt-1">
              <p>北京办公室<br>5号 Xueyuan Rd, WuDaoKou, Haidian Qu,<br>China, 100083</p>
            </div>
          </div>
        </div>
        <div class="col-7 p-0 direction">
          <img src="/static/img/aboutUs_contact_map.png" alt="">
          <div class="location container p-3">
            <div class="row">
              <div class="col-2 p-0">
                <img src="/static/img/aboutUs_contact_location.png" alt="">
              </div>
              <div class="col-10 p-0">
                <p><%=__('aboutus_contact_headquarter')%><br><br>2300 Lakeview Pkwy, Suite 7,<br>Alpharetta, GA 30009</p>
              </div>
            </div>
            <div class="row justify-content-center mt-3">
              <a class="button" href="https://www.google.com/maps/place/2300+Lakeview+Pkwy+%237,+Alpharetta,+GA+30009/@34.0586894,-84.2924377,17z/data=!3m1!4b1!4m5!3m4!1s0x88f5757345d6fabf:0xc82ec47f1062e128!8m2!3d34.0586894!4d-84.290249" target="_blank"><%=__('aboutus_contact_map')%></a>
            </div>
          </div>
        </div>
      </div> -->
    </div>
    <% include footer.ejs %>
  </body>
</html>
