<div id="fixed" class="container">
  <div class="row justify-content-end">
    <div class="col-auto p-3" id="fixedwechat">
      <img src="/static/img/wechat.png" alt="">
    </div>
  </div>
  <div class="row justify-content-end">
    <div class="col-auto p-3" id="fixedcellphone">
      <img src="/static/img/cellphone.png" alt="">
      <span id="cellphone">(中国) 157-3686-2989 (美国) +1(800) 658-6899</span>
    </div>
  </div>
  <div class="row justify-content-end">
    <div class="col-auto p-3" id="fixedemail">
      <img src="/static/img/email.png" alt="">
      <span id="email">info@wholede.com</span>
    </div>
  </div>
  <div class="row justify-content-end">
    <div class="col-auto p-3" id="fixedlocation">
      <img src="/static/img/location.png" alt="">
      <span id="address">2300 Lakeview Parkway, Suite 700,  Alpharetta, GA 30009</span>
    </div>
  </div>
</div>

<div id="QR">
  <img class="p-3"src="/static/img/qr.jpg" alt="">
</div>
