<div class="footer container w-100">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <img src="/static/img/footer_icon.png" alt="" class="icon">
      <div class="info pt-3">
        <p class="introduction">美国厚德教育是坐落于美国本土面向留学生的美国留学机构，致力于研究中美之间的文化教育发展与趋势；
          提供最专业的美国留学一站式服务，服务项目包括美国初高中申请，美国高中转学，美国大学（研究生）申请，美国大学转学，美国学校开除紧急应对， 落地安置，学业提升，美国夏令营等，希望成功打造专业、权威、优质、诚信的美国本土留学服务品牌。</p>
        <p class="introduction-en">WholeDe Education International is an American study institution located in the United States for international students. It is committed to studying the development and trend of culture and education between China and the United States. WoleDe provides the most professional all-round service for U.S study, including high school application, college (graduate school) application, college transfer, school dissmissel emergency service, accommedation, academic enhancment, summer camp. WholeDe’s  core is to establish a professional, prestigious, high quality, integrity US local service brand. </p>

      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <h1><%=__('footer_contact')%></h1>
      <div class="contactinfo pt-1">
        <div class="row">
          <div class="col-2">
            <img src="/static/img/footer_phone.png" alt="">
          </div>
          <div class="col-10" style="padding：0">
            <p style="padding：0;margin:0;"><%=__('footer_america')%>: +1 (678) 916-3850</p>
            <p style="padding：0;margin:0;"><%=__('footer_china')%>: 950-404-37423</p>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <img src="/static/img/footer_mail.png" alt="">
          </div>
          <div class="col-10" style="padding-top:2%">
            <p>info@wholede.org</p>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <img src="/static/img/footer_location.png" alt="">
          </div>
          <div class="col-10">
            <p>2300 Lakeview Parkway, Suit 700<br>Alpharetta, GA 30009</p>
          </div>
        </div>
        <p class="social"><img src="/static/img/footer_linkedIn.png" alt="">
        <img src="/static/img/footer_fb.png" alt="" style="margin-left:2%"></p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 wechatheader">
      <div class="row">
        <div class="col-6 p-1">
          <h2><img src="/static/img/footer_wechat.png" alt=""> <span>&nbsp&nbsp<%=__('footer_wholede')%></span></h2>
          <img src="/static/img/footer_wholedeqr.jpg" style="width:100%"alt="">
        </div>
        <div class="col-6 p-1">
          <h2><img src="/static/img/footer_wechat.png" alt=""><span>&nbsp&nbsp&nbsp&nbsp<%=__('footer_wechat')%></span></h2>
          <img src="/static/img/footer_lucyqr.jpg" style="width:100%" alt="">
        </div>
      </div>
    </div>
  </div>

<div class="row justify-content-center mt-2">
  <a href="#">隐私政策与条款</a>
</div>
