<!DOCTYPE html>
<html lang="en">
  <head>
    <title>美国厚德留学国际教育集团(WholeDe Education International, Inc.)</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <script type="text/javascript" src="/static/js/home/script.js" ></script>
    <script type="text/javascript" src="/static/js/home/highSchool_index.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/home/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/home/highSchool_index.css" />
    <link rel="stylesheet" href="/static/css/home/fonts.css">
    <link rel="stylesheet" href="/static/css/home/animation.css">
    </head>
  <body>
    <% include navbar.ejs %>
    <% include fixedicon.ejs %>
    <div class="banner">
      <img src="/static/img/highSchool_index_banner.png" alt="">
      <div class="ontop">
        <h1>美国初高中申请项目</h1>
        <div class="introduction container">
          <div class="row">
            <div class="heading">
              <h1>导语</h1>
            </div>
            <div class="content">
              <p>随着出国的低龄化，越来越多中国家长希望孩子高中就出国，提前体验美国生活环境。孩子年龄小，意味着可塑性强，更能融入美国文化，英语口语提高更快，更容易考入美国名校。
                然而，孩子年龄小，在自力更生，心理成长还不到位的情况下，立刻父母独自生活，势必会让家长不放心。美国厚德高中曙光计划，全方位学业生活上辅导学员，让家长不再担心，孩子学起来放心。</p>
            </div>
          </div>
        </div>
      </div>
      <div class="ontop-en container">
        <div class="row">
          <h1>American High School Application</h1>
        </div>
        <div class="row">
          <div class="col-3 heading">
            <h1>Lead</h1>
          </div>
          <div class="col-9 content">
            <p>More and more Chinese parents want their children to go abroad in high school to experience the American life style. Younger students have more potential to fit in the American culture, to master the language, and to be enrolled in top 85 American colleges. However, the maturity and independency of high school students are usually not ready to be alone, and that worries most of the parents.
              WholeDe education realizes parents’ concerns. With our high school program, we provide all-round academic and everyday life guidance and assistance to minimize parents concerns. </p>
          </div>

        </div>

      </div>
    </div>

    <div class="container program-detail">
      <div class="row justify-content-center heading">
        <h1><%= __('highSchool_index_header3')%></h1>
      </div>
      <div class="row justify-content-center content">
        <p><%=__('highSchool_index_content3')%></p>
      </div>
    </div>

    <div class="container program">
      <div class="row justify-content-center heading">
        <h1 class="px-5 pb-2"><%=__('highSchool_index_header1')%></h1>
      </div>
      <div class="row programlist">
        <div class="col-lg-3 col-md-6 col-sm-12">
          <img src="/static/img/highSchool_index_personalize.png" alt="">
          <p class="describe" ><%=__('highSchool_index_application_detail1')%></p>
          <!-- <a href="#"> -->
          <p class="title"><%=__('highSchool_index_service1')%></p>
          <!-- </a> -->
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <img index="schoolbus" src="/static/img/highSchool_index_schoolbus.png" alt="">
          <p  class="describe"><%=__('highSchool_index_application_detail2')%></p>
          <!-- <a href="#"> -->
          <p class="title"><%=__('highSchool_index_service2')%></p>
          <!-- </a> -->
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <img index="language" src="/static/img/highSchool_index_language.png" alt="">
          <p  class="describe"><%=__('highSchool_index_application_detail3')%></p>
          <!-- <a href="#"> -->
          <p class="title"><%=__('highSchool_index_service3')%></p>
          <!-- </a> -->
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <img index="culture" src="/static/img/highSchool_index_culture.png" alt="">
          <p  class="describe"><%=__('highSchool_index_application_detail4')%></p>
          <!-- <a href="#"> -->
          <p class="title"><%=__('highSchool_index_service4')%></p>
          <!-- </a> -->
        </div>
      </div>
    </div>

    <div class="container w-100 workflow justify-content-center">
      <div class="row justify-content-center heading">
        <h1 class="px-5 pb-2"><%=__('highSchool_index_header2')%></h1>
      </div>
      <img src="<%=__('highSchool_index_process')%>" alt="">
    </div>

    <!-- <div class="container w-100 transfer">
      <div class="row justify-content-center heading" style=" background-color:#CFCFCF">
        <h1><%=__('highSchool_index_header3')%></h1>
      </div>
      <div class="row justify-content-around programlist">
        <div class="col-3">
          <img src="/static/img/highschool_index_transfer1.png" alt="">
          <p><%=__('highSchool_index_advantage_base')%></p>
        </div>
        <div class="col-3">
          <img src="/static/img/highschool_index_transfer2.png" alt="">
          <p><%=__('highSchool_index_advantage_service')%></p>
        </div>
        <div class="col-3">
          <img src="/static/img/highschool_index_transfer3.png" alt="">
          <p><%=__('highSchool_index_advantage_partner')%></p>
        </div>
      </div>
      <div class="row process heading justify-content-center">
        <h1><%=__('highSchool_index_header4')%></h1>
      </div>
      <div class="row process justify-content-center">
        <div class="col-9">
          <img src="<%=__('highSchool_index_transfer_process')%>" alt="">
        </div>
      </div>
    </div> -->
    <% include footer.ejs %>
  </body>
</html>
