<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <title>美国厚德留学国际教育集团(WholeDe Education International, Inc.)</title>
    <meta charset="utf-8">
    <meta name="description" content="美国厚德留学国际教育集团(WholeDe Education International, Inc.)">
    <meta name="keywords" content="nonprofit, education, Wholede, 厚德, 厚德教育, 美国厚德教育, wholede.org">
    <meta name="author" content="Zhaochong(Leo) Liu">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <script type="text/javascript" src="/static/js/home/script.js" ></script>
    <script type="text/javascript" src="/static/js/home/index.js" ></script>
    <link rel="stylesheet" type="text/css" href="/static/css/home/style.css" />
    <link rel="stylesheet" href="/static/css/home/index.css">
    <link rel="stylesheet" href="/static/css/home/fonts.css">
    <link rel="stylesheet" href="/static/css/home/animation.css">
    </head>
  <body>
    <% include navbar.ejs %>
    <% include fixedicon.ejs %>
    <div class="banner">
      <img src="/static/img/homeimage.jpg" width="100%" alt="">
      <div class="bannerText">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12">
              <h1 class="p-2"><%= __('index_title1') %></h1>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="triangle-down"></div>
          </div>
          <div class="row justify-content-center mt-2">
            <div class="col-8">
              <a href="/home/aboutUs/contact#contactInfo"><%= __('index_href1') %></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container about">
      <div class="row heading justify-content-center">
        <h1><%= __('aboutUs') %></h1>
      </div>
      <div class="row content" id="about_zh">
        <p>美国厚德教育是坐落于美国本土面向留学生的美国留学机构，致力于研究中美之间的文化教育发展与趋势；
          提供最专业的美国留学一站式服务，服务项目包括美国初高中申请，美国高中转学，美国大学（研究生）申请，美国大学转学，美国学校开除紧急应对， 落地安置，学业提升，美国夏令营等，希望成功打造专业、权威、优质、诚信的美国本土留学服务品牌。</p>
        <p>美国厚德教育位于素有美国南方硅谷之称的佐治亚州亚特兰大地区，与三所所名牌大学（埃默里大学，佐治亚理工大学，佐治亚大学）相邻，并与多家美国院校及教育机构建立了合作关系。
          厚德教育汇聚了一支高效率、专业化、拥有丰富美国留学经验的咨询顾问团队及一批在美国名校就读或毕业的学术精英团队，所有申请文书均由美籍团队完成，为每一位留学生实现他们的美国求学梦保驾护航！</p>
      </div>
      <div class="row content" id="about_en">
        <p>WholeDe Education International is an American nonprofit organization located in the United States for Chinese students. It is committed to studying the development and trend of culture and education between China and the United States. WholeDe provides the most professional all-round service for U.S study, including high school application, college (graduate school) application, college transfer, school dissmissel emergency service, accommedation, academic enhancment, summer camp. WholeDe’s  core is to establish a professional, prestigious, high quality, integrity US local service brand. </p>
        <p>The company’s headquarter is located in the Atlanta area of Georgia, also known as the Silicon Valley of the Southern United States, adjacent to three prestigious universities (Emory, Georgia Tech, and University of Georgia) and WholeDe has established partnerships with several U.S schools and educational institutions. WholeDe education is consituted by a highly efficient, professional, and rich experienced advisory team and a group of elites.
          All the application documents are polished and revised by our U.S all-star team. Our goal is to assist International students to achieve their ameircan dreams! </p>
      </div>
    </div>

    <div class="container w-100 service">
      <div class="row heading justify-content-center">
          <h1 class="px-5 pb-2"><%= __('index_heading1') %></h1>
      </div>
      <div class="row justify-content-center servicetable">
        <div class="col-12 p-0">
          <table class="table borderless p-0 m-0">
            <tbody>
              <tr>
                <td rowspan="2"><img src="<%=__('service1')%>" alt=""></td>
                <td><a href="/home/lifeguard/index"><img src="<%=__('service2_1')%>" alt=""></a></td>
                <td><a href="/home/highschool/index"><img src="<%=__('service2_2')%>" alt=""></a></td>
              </tr>
              <tr>
                <td><a href="/home/university/index"><img src="<%=__('service2_3')%>" alt=""></a></td>
                <td><a href="/home/university/index"><img src="<%=__('service2_4')%>" alt=""></a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- <div class="row justify-content-center mt-3">
        <div class="col-3">
          <button type="button" name="button" onclick="location.href='/home/aboutUs/contact#contactInfo'" id="serviceConsult">
            <img src="/static/img/consulticon.png" alt="">
            <p><%= __('index_href1') %></p>
          </button>
        </div>
      </div> -->
    </div>
    <% include footer.ejs %>
  </body>
</html>
