<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <script type="text/javascript" src="/static/js/home/script.js" ></script>
    <!-- <script type="text/javascript" src="/static/js/home/university_index.js"></script> -->
    <link rel="stylesheet" type="text/css" href="/static/css/home/style.css" />
    <link rel="stylesheet" href="/static/css/home/information_articles.css">
    <link rel="stylesheet" href="/static/css/home/fonts.css">
    <link rel="stylesheet" href="/static/css/home/animation.css">
    <%- article.style %>
    </head>
  <body>
    <% include navbar.ejs %>
    <% include fixedicon.ejs %>
    <br><br><br><br><br><br>
    <div class="container article">
      <%- article.html %>
      <div class="row justify-content-center header1">
        <div class="ltri" style="margin-top:0.6%"></div>
        <div class="bar"></div>
        <h2>联系我们</h2>
        <div class="bar"></div>
        <div class="rtri" style="margin-top:0.6%"></div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="ruconer"></div>
          <div class="lbconer"></div>
          <p style="padding-left:10%; padding-top:5%">电话:（中国拨打）: 157-368-62989 （郭老师）<br>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp（美国拨打）: 678-916-3850</p>
          <p style="padding-left:10%; padding-bottom:5%">地址:<br>
             &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp总部: 亚特兰大: 2300 Lakeview Pky, Suite 700, Alpharetta, GA, 30009<br>
             &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp分部: 弗罗里达: 2772 NW 43rd St, Suite B2, Gainesville, FL 32606<br>
             &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp加州: 99 South Almaden Blvd, Suite 600, San Jose, CA 95113</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <img src="/static/articleimg/bottom.png" alt="">
        </div>
      </div>
    </div>

  </body>
</html>
