<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <script type="text/javascript" src="/static/js/home/script.js" ></script>
    <link rel="stylesheet" type="text/css" href="/static/css/home/style.css" />
    <link rel="stylesheet" href="/static/css/home/information_articles.css">
    <link rel="stylesheet" href="/static/css/home/fonts.css">
    <link rel="stylesheet" href="/static/css/home/animation.css">
    <style media="screen">
      .abstract{padding:2%;color:black; background-color: lightgray}
      .content p{font-size: 1vw;}
      .heading {margin-top: 5%}
      .heading h2{font-size: 1.5vw;font-weight:bolder;color:#90ADBB;}
    </style>
    </head>
  <body>
    <br><br><br><br><br><br>
    <div class="container article">
      <div class="row title">
        <h1>课外活动应该选什么，才会让招生官眼前一亮？ | 课外活动大指南</h1>
      </div>
      <div class="row author">
        <span>2017-04-10&nbsp <a href="/home/index">美国厚德</a></span>
      </div>
      <div class="row justify-content-center pic">
        <div class="col-12">
          <img src="/static/articleimg/head.gif" alt="">
        </div>
      </div>
      <div class="row" style="padding:1%;">
        <p class="abstract">上一期小编介绍了被几个藤校录取的Ziad小哥， 后台很多家长问， 孩子在美国高中，应该选择什么样的课外活动，以及哪里可以找到这类的活动？今天小编就来介绍一下，美国课外活动全指南。</p>
      </div>
      <div class="row heading">
        <h2>体育社团</h2>
      </div>
      <div class="row content">
        <p>美国是个体育大国，小编在美国读书时，每逢学校的橄榄球比赛，就会出现人山人海，锣鼓喧天的盛况。 一个个甘愿在太阳下晒到脱皮也要为自己的学校加油鼓掌，美国大学的橄榄球队都是由本校学生组成。很多学生因为体育优异，会被各个名牌大学抢着录取。
        </p>
      </div>
      <div class="row">
        <div class="col-8">
          <img src="/static/articleimg/2017/0409/1.jpg" alt="">
        </div>
      </div>
      <div class="row content">
        <p>如果自己对体育很有兴趣或者有天赋，可以参加校内的体育队，体育社团。找到适合自己的体育活动，并长期的坚持下去。
<br><br>
美国高中有多种专业体育队和项目，比如曲棍球、冰球、橄榄球、游泳、田径等。如果这都不是你擅长的，那么不妨选择一种体育活动来丰富自己的业余生活。
可以跟随专业的教练去学习，当然也可以自己作为娱乐，比如游泳、瑜伽、击剑等。不过如果是想要用体育这方面为自己以后升学加分，那么一定要坚持哦，不要只是几天的热情度，而且可以参加市级省级的比赛。</p>
      </div>
      <div class="row heading">
        <h2>文艺社团</h2>
      </div>
      <div class="row content">
        <p>如果对乐器感兴趣，不管是弦乐还是管乐，只要你喜欢吹拉弹唱，可以加入学校的乐队。 美国的校乐队和中国不同，会在很多大场合现场演奏，例如上面说的橄榄球赛，校乐队是会全程奏乐的，重要程度可见一斑；
<br>如果已经会了一两门中国古典乐器，那更是加分。
<br><br>
再或者如果对绘画，表演感兴趣，都应该寻找校内社团去发展这方面的兴趣。如果没有感兴趣的社团，自己创建一个也能更加体现自己的领导能力，组织能力。</p>
      </div>
      <div class="row heading">
        <h2>公益活动</h2>
      </div>
      <div class="row content">
        <p>美国非常重视学生的社会贡献意识，在申请的过程中也会有不同的问题询问学生为社区做过什么贡献，能够为他们的学校带去什么。有些美国高中甚至强行要求学生要参加多少小时的service hour（志愿者时间），参加一些志愿者活动，可以让招生官看到学生的贡献意识并产生好感。
          但是需要注意的是，很多学生都会说自己去过敬老院和孤儿院，可能美国招生官见多了，对此也并不觉得新鲜了。
          那么，如果学生在志愿的时候发现了里面的管理漏洞，或者想出了什么方式能够让大家意识到赡养老人的重要性，从而发起了大规模的活动，产生了一定的影响力，这也是非常加分的事情。
<br><br>
其他美国的校内活动有模拟联合国，辩论社，可以锻炼语言表达和逻辑思维能力；
<br>对电子机械方面感兴趣可以参加机器人设计小组。
<br>以上两个活动学校与学校之间都会定期举行比赛，如果能成为其中一员，为学校争光，能够得奖，也是加分的事情。</p>
      </div>
      <div class="row heading">
        <h2>参加途径</h2>
      </div>
      <div class="row content">
        <p>体育队每年都会有教练进行选拔，感兴趣的可以关注校内信息；
<br>各种社团的申请每个学校不一样，有些可以直接加入，专业一些的可能需要进行选拔，也可以通过校内申请；
<br>至于社区公益活动，可以在网络上寻找志愿工作，有些可能需要家长陪同， 有时候校内也会集体组织去做公益活动，可以留意。</p>
      </div>

      <div class="row content">
        <p><br><br><br>由此总结，在美国上学其实也没传言的那么轻松。 下午放学早，紧接着也要去很多兴趣班。选择了自己的特长，一路走下去，有了深度和广度才会真正的为自己加分。</p>
      </div>
      <div class="row justify-content-center header1" style="margin-top:2%">
        <div class="ltri" style="margin-top:0.6%"></div>
        <div class="bar"></div>
        <h2>联系我们</h2>
        <div class="bar"></div>
        <div class="rtri" style="margin-top:0.6%"></div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="ruconer"></div>
          <div class="lbconer"></div>
          <p style="padding-left:10%; padding-top:5%">电话:（中国拨打）: 157-368-62989 （郭老师）<br>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp（美国拨打）: 678-916-3850</p>
          <p style="padding-left:10%; padding-bottom:5%">地址:<br>
             &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp总部: 亚特兰大: 2300 Lakeview Pky, Suite 700, Alpharetta, GA, 30009<br>
             &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp分部: 弗罗里达: 2772 NW 43rd St, Suite B2, Gainesville, FL 32606<br>
             &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp加州: 99 South Almaden Blvd, Suite 600, San Jose, CA 95113</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <img src="/static/articleimg/bottom.png" alt="">
        </div>
      </div>
    </div>

  </body>
</html>
