<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <script type="text/javascript" src="/static/js/home/script.js" ></script>
    <!-- <script type="text/javascript" src="/static/js/home/university_index.js"></script> -->
    <link rel="stylesheet" type="text/css" href="/static/css/home/style.css" />
    <link rel="stylesheet" href="/static/css/home/information_ranks.css">
    <link rel="stylesheet" href="/static/css/home/fonts.css">
    <link rel="stylesheet" href="/static/css/home/animation.css">
    </head>
  <body>
    <% include navbar.ejs %>
    <% include fixedicon.ejs %>
    <br><br><br><br><br><br>
    This is rankpage.

    <div class="container">
      <div class="row">
        <div class="col-4">

        </div>
        <div class="col-8">
          <ul class="schoolList">
            <% for(var i=0; i< ranklist.length; i++) {%>
              <li><%= ranklist[i].school %></li>
              <li><%= ranklist[i].rank %></li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
