<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <script type="text/javascript" src="/static/js/home/script.js" ></script>
    <script type="text/javascript" src="/static/js/home/lifeGuard_index.js" ></script>
    <link rel="stylesheet" type="text/css" href="/static/css/home/style.css" />
    <link rel="stylesheet" href="/static/css/home/lifeGuard_index.css">
    <link rel="stylesheet" href="/static/css/home/fonts.css">
    <link rel="stylesheet" href="/static/css/home/animation.css">
    </head>
  <body>
    <% include navbar.ejs %>
    <% include fixedicon.ejs %>
    <div class="banner">
      <img src="/static/img/lifeGuard_index_banner.jpg" alt="">
      <div class="bannerText">
        <h1 class="p-2"><%=__('lifeguard_index_title')%></h1>
        <p><%=__('lifeguard_index_lead_detail')%></p>
      </div>
    </div>

    <div class="container children">
      <div class="backbar"></div>
      <div class="row">
        <div class="child">
          <a style="margin-left:4%" href="/home/lifeguard/landing"><%=__('landing')%></a>
        </div>
        <div class="child">
          <a href="/home/lifeguard/attorney"><%=__('law')%></a>
        </div>
        <div class="child">
          <a href="/home/lifeguard/cuddling"><%=__('emergency')%></a>
        </div>
        <!-- <div class="child">
          <a href="/home/lifeguard/emergency">应急处理</a>
        </div> -->
      </div>
    </div>

    <div class="container allincluded w-100">
      <div class="row justify-content-center heading">
        <h1 class="px-5 pb-2"><%=__('lifeguard_index_heading')%></h1>
      </div>
      <div class="row justify-content-center mt-5">
        <div class="col-10">
          <img src="<%=__('lifeguard_index_workflow')%>" alt="">
        </div>

      </div>
    </div>
    <% include footer.ejs %>
  </body>
</html>
