<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <script type="text/javascript" src="/static/js/home/script.js" ></script>
    <script type="text/javascript" src="/static/js/home/lifeGuard_attorney.js" ></script>
    <link rel="stylesheet" type="text/css" href="/static/css/home/style.css" />
    <link rel="stylesheet" href="/static/css/home/lifeGuard_attorney.css">
    <link rel="stylesheet" href="/static/css/home/fonts.css">
    <link rel="stylesheet" href="/static/css/home/animation.css">
    </head>
    <body>
      <%include navbar.ejs%>
      <div class="banner">
        <img src="/static/img/lifeguard_index_visa_banner.jpg" alt="">
        <div class="ontop">
          <p><%=__('lifeguard_index_visa_title1')%><br> <%=__('lifeguard_index_visa_title2')%></p>
          <a href="#"><%=__('lifeguard_index_visa_consult')%></a>
        </div>
      </div>

      <div class="lawprogram container w-100">
        <div class="heading row justify-content-center">
          <h1><%=__('lifeguard_index_legal_header1')%></h1>
        </div>
        <div class="row justify-content-center programs1 container">
          <div class="pixelimg1">
            <h1 href="#" style="display:block"><%=__('lifeguard_index_legal_nonim')%></h1>
          </div>
          <div class="pixelimg2">
            <img id="f1img" src="/static/img/lifeguard_index_attorney_F1visa.png" alt="">
            <h1 id="f1h" href="#"><%=__('lifeguard_index_legal_student')%></h1>
          </div>
          <div class="pixelimg3">
            <h1 href="#" style="display:block"><%=__('lifeguard_index_legal_h1b')%></h1>
          </div>
          <div class="pixelimg1">
            <img id="criminalimg" src="/static/img/lifeguard_index_attorney_criminal.png" alt="">
            <h1 id="criminalh" href="#"><%=__('lifeguard_index_legal_criminal')%></h1>
          </div>
        </div>
        <div class="row justify-content-center programs2 container">
          <div class="pixelimg3">
            <h1 href="#" style="display:block"><%=__('lifeguard_index_legal_im')%></h1>
          </div>
          <div class="pixelimg1">
            <img id="optimg" src="/static/img/lifeguard_index_attorney_CPTvisa.png" alt="">
            <h1 id="opth" href="#"><%=__('lifeguard_index_legal_cpt')%></h1>
          </div>
          <div class="pixelimg2">
            <h1 href="#" style="display:block"><%=__('lifeguard_index_legal_eb')%></h1>
          </div>
          <div class="pixelimg3">
            <img id="backimg" src="/static/img/lifeguard_index_attorney_back.png" alt="">
            <h1 id="backh" href="#"><%=__('lifeguard_index_legal_repatriation')%></h1>
          </div>
        </div>
      </div>

      <div class="visaType container w-100">
        <div class="title">
          <img src="/static/img/lifeguard_index_visa_visatypes.png" alt="">
        </div>
        <div class="container types">
          <div class="row">
            <div class="triangle" style="margin-left:6%;border-bottom:#30415D solid 8.5vw">
              <p class="en2" style="margin-left:-3.5%"><%=__('lifeguard_index_visa_problem1')%></p>
            </div>
            <div class="triangle" style="margin-left:-7.1%;border-top:#30415D solid 8.5vw">
            </div>
            <div class="triangle" style="margin-left:-6%;border-bottom:#CF6766 solid 8.5vw">
              <p class="en2" style="margin-left:-3%"><%=__('lifeguard_index_visa_problem2')%></p>
            </div>
            <div class="triangle" style="margin-left:-7.1%;border-top:#CF6766 solid 8.5vw">
            </div>
            <div class="triangle" style="margin-left:-6%;border-bottom:#90ADBB solid 8.5vw">
              <p style="margin-left:-2%"><%=__('lifeguard_index_visa_problem3')%></p>
            </div>
            <div class="triangle" style="margin-left:-7.1%;border-top:#90ADBB solid 8.5vw">
            </div>
            <div class="triangle" style="margin-left:-6%;border-bottom:#30415D solid 8.5vw">
              <p class="en3" style="margin-left:-3%"><%=__('lifeguard_index_visa_problem4')%></p>
            </div>
            <div class="triangle" style="margin-left:-7.1%;border-top:#30415D solid 8.5vw">
            </div>
            <div class="triangle" style="margin-left:-6%;border-bottom:#CF6766 solid 8.5vw">
              <p style="margin-left:-2.5%"><%=__('lifeguard_index_visa_problem5')%></p>
            </div>
            <div class="triangle" style="margin-left:-7.1%;border-top:#CF6766 solid 8.5vw">
            </div>
          </div>
          <div class="row" style="margin-top:1vw">
            <div class="triangle" style="margin-left:-2%;border-bottom:#CF6766 solid 8.5vw">
              <p class="en3" style="margin-left:-4%"><%=__('lifeguard_index_visa_problem6')%></p>
            </div>
            <div class="triangle" style="margin-left:-7.1%;border-top:#CF6766 solid 8.5vw">
            </div>
            <div class="triangle" style="margin-left:-6%;border-bottom:#90ADBB solid 8.5vw">
              <p class="en2" style="margin-left:-2%"><%=__('lifeguard_index_visa_problem7')%></p>
            </div>
            <div class="triangle" style="margin-left:-7.1%;border-top:#90ADBB solid 8.5vw">
            </div>
            <div class="triangle" style="margin-left:-6%;border-bottom:#30415D solid 8.5vw">
              <p style="margin-left:-3%"><%=__('lifeguard_index_visa_problem8')%></p>
            </div>
            <div class="triangle" style="margin-left:-7.1%;border-top:#30415D solid 8.5vw">
            </div>
            <div class="triangle" style="margin-left:-6%;border-bottom:#CF6766 solid 8.5vw">
              <p style="margin-left:-3%"><%=__('lifeguard_index_visa_problem9')%></p>
            </div>
            <div class="triangle" style="margin-left:-7.1%;border-top:#CF6766 solid 8.5vw">
            </div>
          </div>
        </div>
      </div>
      <div class="workflow container w-100">
        <div class="row justify-content-center heading">
          <h1 class="px-5 pb-2"><%=__('lifeguard_index_visa_process')%></h1>
        </div>
        <img src="<%=__('lifeguard_index_visa_workflow')%>" alt="">
      </div>
      <%include footer.ejs%>
    </body>
</html>
