<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <script type="text/javascript" src="/static/js/home/script.js" ></script>
    <script type="text/javascript" src="/static/js/home/lifeGuard_emergency.js" ></script>
    <link rel="stylesheet" type="text/css" href="/static/css/home/style.css" />
    <link rel="stylesheet" href="/static/css/home/lifeGuard_emergency.css">
    <link rel="stylesheet" href="/static/css/home/fonts.css">
    <link rel="stylesheet" href="/static/css/home/animation.css">
    </head>
    <body>
      <%include navbar.ejs%>
      <div class="banner">
        <img src="/static/img/lifeGuard_index_law_emergency.png" alt="">
        <div class="circle">
          <span class="24zh" style="font-size:3vw; left:28%">&nbsp&nbsp24小时<br>全天待命</span>
          <span class="24en">&nbsp24/7</span>
        </div>
        <div class="bar">
          <div class="ribbon"></div>
          <div class="barlist container">
            <div class="row justify-content-around">
              <p class="col-3"><%=__('lifeguard_index_emergengy_bar1')%></p>
              <p class="col-3 enp"><%=__('lifeguard_index_emergengy_bar2')%></p>
              <p class="col-3"><%=__('lifeguard_index_emergengy_bar3')%></p>
            </div>
          </div>
        </div>
      </div>

      <div class="container w-100 quit justify-content-center">
        <div class="row justify-content-center heading">
          <h1 class="px-5 pb-2"><%=__('lifeguard_index_emergency_heading2')%></h1>
        </div>
        <div class="row justify-content-around content">
          <div class="col-lg-2 col-sm-3 justify-content-center">
            <div class="situation">
              <p><%=__('lifeguard_index_emergency_situ1')%></p>
            </div>
            <!-- <button href="#"><%=__('lifeguard_index_emergency_case')%></button> -->
          </div>
          <div class="col-lg-2 col-sm-3">
            <div class="situation" style="background-color:#90ADBB">
              <p class="en"><%=__('lifeguard_index_emergency_situ2')%></p>
            </div>
              <!-- <button href="#"><%=__('lifeguard_index_emergency_case')%></button> -->
          </div>
          <div class="col-lg-2 col-sm-3">
            <div class="situation">
              <p class="en"><%=__('lifeguard_index_emergency_situ3')%></p>
            </div>
              <!-- <button href="#"><%=__('lifeguard_index_emergency_case')%></button> -->
          </div>
          <div class="col-lg-2 col-sm-3">
            <div class="situation" style="background-color:#90ADBB">
              <p><%=__('lifeguard_index_emergency_situ4')%></p>
            </div>
              <!-- <button href="#"><%=__('lifeguard_index_emergency_case')%></button> -->
          </div>
        </div>
      </div>
      <%include footer.ejs%>
    </body>
</html>
