<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <script type="text/javascript" src="/static/js/home/script.js" ></script>
    <!-- <script type="text/javascript" src="/static/js/home/lifeGuard_index.js" ></script> -->
    <link rel="stylesheet" type="text/css" href="/static/css/home/style.css" />
    <link rel="stylesheet" href="/static/css/home/lifeGuard_landing.css">
    <link rel="stylesheet" href="/static/css/home/fonts.css">
    <link rel="stylesheet" href="/static/css/home/animation.css">
    </head>
    <body>
      <%include navbar.ejs%>
      <div class="container w-100 flyer">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <img class="d-block img-fluid" src="/static/img/lifeguard_landing_slide1.PNG" alt="">
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="/static/img/lifeguard_landing_slide2.PNG" alt="">
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="/static/img/lifeguard_landing_slide3.PNG" alt="">
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="/static/img/lifeguard_landing_slide4.PNG" alt="">
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="/static/img/lifeguard_landing_slide5.PNG" alt="">
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="/static/img/lifeguard_landing_slide6.PNG" alt="">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>

      <div class="container programs">
        <div class="row heading justify-content-center">
          <h1><%=__('lifeguard_landing_header1')%></h1>
        </div>
        <div class="row justify-content-around content">
          <div class="col-lg-4 col-sm-8">
            <div class="row">
              <div class="col-2">
                <img src="/static/img/lifeguard_index_plane.png" alt="">
              </div>
              <div class="col-10">
                <h5><%=__('lifeguard_index_life_landing_pickup')%></h5>
              </div>
            </div>
            <p><%=__('lifeguard_index_life_landing_pickupdetail')%></p>
          </div>
          <div class="col-lg-4 col-sm-8">
            <div class="row">
              <div class="col-2">
                <img src="/static/img/lifeguard_index_living.png" alt="">
              </div>
              <div class="col-10">
                <h5><%=__('lifeguard_index_life_landing_accommodation')%></h5>
              </div>
            </div>
            <p><%=__('lifeguard_index_life_landing_accommodationdetail')%></p>
          </div>
          <div class="col-lg-4 col-sm-8">
            <div class="row">
              <div class="col-2">
                <img src="/static/img/lifeguard_index_mobile.png" alt="">
              </div>
              <div class="col-10">
                <h5><%=__('lifeguard_index_life_landing_phone')%></h5>
              </div>
            </div>
            <p><%=__('lifeguard_index_life_landing_phonedetail')%></p>
          </div>
        </div>
        <div class="row justify-content-around content">
          <div class="col-lg-4 col-sm-8">
            <div class="row">
              <div class="col-2">
                <img src="/static/img/lifeguard_index_insurance.png" alt="">
              </div>
              <div class="col-10">
                <h5><%=__('lifeguard_index_life_landing_health')%></h5>
              </div>
            </div>
            <p><%=__('lifeguard_index_life_landing_healthdetail')%></p>
          </div>
          <div class="col-lg-4 col-sm-8">
            <div class="row">
              <div class="col-2">
                <img src="/static/img/lifeguard_index_bank.png" alt="">
              </div>
              <div class="col-10">
                <h5><%=__('lifeguard_index_life_landing_bank')%></h5>
              </div>
            </div>
            <p><%=__('lifeguard_index_life_landing_bankdetail')%></p>
          </div>
          <div class="col-lg-4 col-sm-8">
            <div class="row">
              <div class="col-2">
                <img src="/static/img/lifeguard_index_register.png" alt="">
              </div>
              <div class="col-9">
                <h5><%=__('lifeguard_index_life_landing_register')%></h5>
              </div>
            </div>
            <p><%=__('lifeguard_index_life_landing_registerdetail')%></p>
          </div>
        </div>
        <!-- <div class="row">
          <div class="col-4">
            <div class="row">
              <div class="col-2">
                <img src="/static/img/lifeguard_index_auto.png" alt="">
              </div>
              <div class="col-10">
                <h5><%=__('lifeguard_index_life_landing_auto')%></h5>
              </div>
            </div>
            <p><%=__('lifeguard_index_life_landing_autodetail')%></p>
          </div>
        </div> -->
      </div>
      <%include footer.ejs%>
    </body>
</html>
