<div class="container w-100">
  <!-- <div class="row" style="background-color:black; color:white">
    <div class="col-10 pt-1">
      <span>address email name number</span>
    </div>
    <div class="col-2">
      <button id="lang" class="btn btn-link" style="float:right; color:white"><%= language %></button>
    </div>
  </div> -->
  <div id="navbar" style="margin-bottom: -100px">
    <div class="row justify-content-center" style="background-color:white;">
        <a class="navbar-brand py-3" href="/home/index">
          <img src="/static/img/nav-img.png" alt="">
        </a>
        <button id="burger" class="navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span></span>
          <span></span>
          <span></span>
        </button>
    </div>
    <div class="row">
      <nav class="navbar navbar-toggleable-sm bg-faded w-100" style="background-color:#90ADBB;">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav w-100 justify-content-center">
            <li class="nav-item mx-2 dropdown">
              <a class="nav-link" href="/home/index"><%= __('aboutUs') %></a>
              <!-- <ul class="dropdown-content">
                <li class="dropdown-item"><a href="#"><%=__('applyToSchool') %></a></li>
                <li class="dropdown-item"><a href="#"><%=__('transform') %></a></li>
                <li class="dropdown-item"><a href="#"><%=__('schoolVisit') %></a></li>
                <li class="dropdown-item"><a href="#">SAT/ACT辅导及团考</a></li>
              </ul> -->
            </li>
            <li class="nav-item mx-2 dropdown">
              <a class="nav-link" href="/home/highschool/index"><%= __('highSchoolApply') %></a>
              <!-- <ul class="dropdown-content">
                <li class="dropdown-item"><a href="#"><%=__('applyToSchool') %></a></li>
                <li class="dropdown-item"><a href="#"><%=__('transform') %></a></li>
                <li class="dropdown-item"><a href="#"><%=__('schoolVisit') %></a></li>
                <li class="dropdown-item"><a href="#">SAT/ACT辅导及团考</a></li>
              </ul> -->
            </li>
            <li class="nav-item mx-2 dropdown">
              <a class="nav-link" href="/home/university/index"><%= __('universityApply') %></a>
              <ul class="dropdown-content">
                <li class="dropdown-item"><a href="/home/university/apply"><%=__('bachelorApply') %></a></li>
                <li class="dropdown-item"><a href="/home/university/transfer"><%=__('transformApply') %></a></li>
                <!-- <li class="dropdown-item"><a href="#"><%=__('masterApply') %></a></li> -->
                <li class="dropdown-item"><a href="/home/university/featured"><%=__('50Guarantee') %></a></li>
              </ul>
            </li>
            <li class="nav-item mx-2 dropdown">
              <a class="nav-link" href="/home/lifeguard/index"><%= __('lawAndOthers') %></a>
              <ul class="dropdown-content">
                <li class="dropdown-item"><a href="/home/lifeguard/landing"><%=__('landing') %></a></li>
                <li class="dropdown-item"><a href="/home/lifeguard/attorney"><%=__('law') %></a></li>
                <!-- <li class="dropdown-item"><a href="#"><%=__('visaHelp') %></a></li> -->
                <!-- <li class="dropdown-item"><a href="#"><%=__('study') %></a></li> -->
                <!-- <li class="dropdown-item"><a href="/home/lifeguard/cuddling"><%=__('living') %></a></li> -->
                <li class="dropdown-item"><a href="/home/lifeguard/emergency"><%=__('emergency') %></a></li>
                <!-- <li class="dropdown-item"><a href="#"><%=__('internAndFulltime') %></a></li> -->
              </ul>
            </li>
            <li class="nav-item mx-2 dropdown">
              <a class="nav-link" href="/home/ustrip/index"><%= __('USTrip') %></a>
              <!-- <ul class="dropdown-content">
                <li class="dropdown-item"><a href="#"><%=__('camping') %></a></li>
                <li class="dropdown-item"><a href="#"><%=__('businessTrip') %></a></li>
              </ul> -->
            </li>
            <li class="nav-item mx-2 dropdown">
              <a class="nav-link" href="/home/study/index"><%=__('study') %></a>
              <ul class="dropdown-content">
                <li class="dropdown-item"><a href="/home/study/language"><%=__('language')%></a></li>
                <li class="dropdown-item"><a href="/home/study/major"><%=__('major')%></a></li>
                <li class="dropdown-item"><a href="/home/study/alltheway"><%=__('alltheway')%></a></li>
                <!-- <li class="dropdown-item"><a href="/home/study/activity"><%=__('activities')%></a></li> -->
              </ul>
            </li>
            <li class="nav-item mx-2 dropdown">
              <a class="nav-link" href="/home/information/index"><%= __('information') %></a>
              <!-- <ul class="dropdown-content">
                <li class="dropdown-item"><a href="/home/information/ranks"><%=__('rank') %></a></li>
                <li class="dropdown-item"><a href="/home/information/articles"><%=__('wenzhang') %></a></li>
                <li class="dropdown-item"><a href="/home/information/activities"><%=__('activity') %></a></li>
              </ul> -->
            </li>
            <li class="nav-item mx-2 dropdown">
              <a class="nav-link" href="/home/aboutUs/contact"><%=__('contactUs') %></a>
              <!-- <ul class="dropdown-content">
                <li class="dropdown-item"><a href="#"><%=__('introduction') %></a></li>
                <li class="dropdown-item"><a href="/home/aboutUs/contact"><%=__('contactUs') %></a></li>
                <li class="dropdown-item"><a href="#"><%=__('teamInfo') %></a></li>
                <li class="dropdown-item"><a href="#"><%=__('cooperators') %></a></li>
              </ul> -->
            </li>
          </ul>
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%=__('i18')%>: <span id="lang"><%= language %></span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <span id="langsetzh" class="dropdown-item">中文简体</span>
              <span id="langseten" class="dropdown-item">English</span>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
