<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <script type="text/javascript" src="/static/js/home/script.js" ></script>
    <script type="text/javascript" src="/static/js/home/study_index.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/home/style.css" />
    <link rel="stylesheet" href="/static/css/home/study_index.css">
    <link rel="stylesheet" href="/static/css/home/fonts.css">
    <link rel="stylesheet" href="/static/css/home/animation.css">
    </head>
  <body>
    <% include navbar.ejs %>
    <div class="banner">
      <img src="/static/img/study_index_banner.jpg" alt="">
      <div class="ontop">
        <h1><%=__('study')%></h1>
        <div class="container">
          <div class="row" style="padding-top:5%">
            <div class="heading">
              <h1><%=__('lead')%></h1>
            </div>
            <div class="content">
              <p><%=__('study_index_lead_detail')%></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container children">
      <div class="backbar"></div>
      <div class="row">
        <div class="child">
          <a id="first" style="margin-left:5%; top:35%" href="/home/study/language"><%=__('language')%></a>
        </div>
        <div class="child">
          <a href="/home/study/major"><%=__('major')%></a>
        </div>
        <div class="child">
          <a href="/home/study/alltheway"><%=__('alltheway')%></a>
        </div>
        <!-- <div class="child">
          <a href="/home/study/activity"><%=__('activities')%></a>
        </div> -->
      </div>
    </div>
    <% include fixedicon.ejs %>
    <% include footer.ejs%>
  </body>
</html>
