<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <script type="text/javascript" src="/static/js/home/script.js" ></script>
    <!-- <script type="text/javascript" src="/static/js/home/university_index.js"></script> -->
    <link rel="stylesheet" type="text/css" href="/static/css/home/style.css" />
    <link rel="stylesheet" href="/static/css/home/study_alltheway.css">
    <link rel="stylesheet" href="/static/css/home/fonts.css">
    <link rel="stylesheet" href="/static/css/home/animation.css">
    </head>
  <body>
    <% include navbar.ejs %>
    <div class="banner">
      <img src="/static/img/study_alltheway_banner.jpg" alt="">
      <div class="ontop">
        <h1><%=__('alltheway')%></h1>
        <div class="container">
          <div class="row" style="padding-top:5%">
            <div class="heading">
              <h1><%=__('lead')%></h1>
            </div>
            <div class="content">
              <p><%=__('study_alltheway_lead_detail')%></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="program container">
      <div class="row content justify-content-around">
        <div class="col-lg-3 col-xm-8 p-3">
          <h1><%=__('study_alltheway_program_header1')%></h1>
          <p><%=__('study_alltheway_program_detail1')%></p>
        </div>
        <div class="col-lg-3 col-xm-8 p-3">
          <h1><%=__('study_alltheway_program_header2')%></h1>
          <p><%=__('study_alltheway_program_detail2')%></p>
        </div>
        <div class="col-lg-3 col-xm-8 p-3">
          <h1><%=__('study_alltheway_program_header3')%></h1>
          <p><%=__('study_alltheway_program_detail3')%></p>
        </div>
      </div>
      <div class="row content justify-content-around mt-3">
        <div class="col-lg-3 col-xm-8 p-3">
          <h1><%=__('study_alltheway_program_header4')%></h1>
          <p><%=__('study_alltheway_program_detail4')%></p>
        </div>
        <div class="col-lg-3 col-xm-8 p-3">
          <h1><%=__('study_alltheway_program_header5')%></h1>
          <p><%=__('study_alltheway_program_detail5')%></p>
        </div>
        <div class="col-lg-3 col-xm-8 p-3">
          <h1><%=__('study_alltheway_program_header6')%></h1>
          <p><%=__('study_alltheway_program_detail6')%></p>
        </div>
      </div>
    </div>

    <% include fixedicon.ejs %>
    <% include footer.ejs%>
  </body>
</html>
