<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <script type="text/javascript" src="/static/js/home/script.js" ></script>
    <!-- <script type="text/javascript" src="/static/js/home/university_index.js"></script> -->
    <link rel="stylesheet" type="text/css" href="/static/css/home/style.css" />
    <link rel="stylesheet" href="/static/css/home/university_transfer.css">
    <link rel="stylesheet" href="/static/css/home/fonts.css">
    <link rel="stylesheet" href="/static/css/home/animation.css">
    </head>
    <body>
      <% include navbar.ejs %>
      <div class="banner">
        <img src="/static/img/university_transfer_banner.jpg" alt="">
        <div class="bannerText">
          <h1><%=__('university_transfer_title')%></h1>
          <p><%=__('university_transfer_lead_detail')%></p>
        </div>
      </div>
      <div class="container programs">
        <div class="row justify-content-around cards content">
          <div class="col-lg-4 col-md-8">
            <div class="card" style="overflow:hidden">
              <img class="card-img-top" style="width:105%; margin-left:-2.5%" src="/static/img/university_index_transfer1.png" alt="Card image cap">
              <div class="card-block">
                <h1><%=__('university_index_transfer_header1')%></h1>
                <p><%=__('university_index_transfer_detail1')%></p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-8">
            <div class="card">
              <img class="card-img-top" src="/static/img/university_index_transfer2.jpg" alt="Card image cap">
              <div class="card-block">
                <h1><%=__('university_index_transfer_header2')%></h1>
                <p><%=__('university_index_transfer_detail2')%></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container workflow">
        <div class="row justify-content-center heading">
          <h1><%=__('university_index_heading4')%></h1>
        </div>
        <img class="py-2" src="<%=__('university_workflow')%>" alt="">
      </div>

      <%include footer.ejs%>
    </body>
</html>
