<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <script type="text/javascript" src="/static/js/home/script.js" ></script>
    <script type="text/javascript" src="/static/js/home/university_apply.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/home/style.css" />
    <link rel="stylesheet" href="/static/css/home/university_apply.css">
    <link rel="stylesheet" href="/static/css/home/fonts.css">
    <link rel="stylesheet" href="/static/css/home/animation.css">
    </head>
    <body>
      <% include navbar.ejs %>
      <div class="banner">
        <img src="/static/img/university_apply_banner.jpg" width="100%" alt="">
        <div class="ontop" >
          <div class="heading">
            <h1>美国大学申请项目</h1>
          </div>
          <div class="introduction container">
            <div class="row">
              <div class="heading">
                <h1>导语</h1>
              </div>
              <div class="content">
                <p>厚德教育全面分析美国各大学地理位置，申请要求，录取标准等因素，整理结合出海量数据库，根据学员的特长和个人因素，准确定位适合的院校，完成个性留学计划方案。</p>
              </div>
            </div>
          </div>
        </div>
        <div class="ontop-en" >
          <h1>American College Application</h1>
          <div class="container">
            <div class="row" style="padding-top:5%">
              <div class="heading">
                <h1>Lead</h1>
              </div>
              <div class="content">
                <p>Wholede has fully analyzed every universities' applications requirements, location factors, program details. Based on each student's unique background, mentor will select the best fit for the students.</p>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="container w-100 services">
        <div class="row justify-content-center heading">
          <h1><%=__('university_index_heading1')%></h1>
        </div>
        <div class="row justify-content-around">
          <div class="col-lg-4 col-md-12">
            <img src="<%=__('university_index_DIY')%>" alt="">
            <div class="describe">
              <div class="s1">
                <h6><%= __('university_index_feature') %></h6>
                <p><img class="lbtri"></img><span><%=__('university_index_DIY_feature1')%></span></p>
                <p><img class="lbtri"></img><span><%=__('university_index_DIY_feature2')%></span><br></p>
                <p><img class="lbtri"></img><span><%=__('university_index_DIY_feature3')%></span><br></p>
                <p><img class="lbtri"></img><span><%=__('university_index_DIY_feature4')%></span></p>
              </div>
              <div class="s2">
                <h6><%= __('university_index_for') %></h6>
                <p><img class="lbtri"></img><span><%=__('university_index_DIY_who1')%></span></p>
                <p><img class="lbtri"></img><span><%=__('university_index_DIY_who2')%></span><br></p>
                <p><img class="lbtri"></img><span><%=__('university_index_DIY_who3')%></span><br></p>
                <p><img class="lbtri"></img><span><%=__('university_index_DIY_who4')%></span></p>
                <p><img class="lbtri"></img><span><%=__('university_index_DIY_who5')%></span></p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12">
            <img src="<%=__('university_index_PLA')%>" alt="">
            <div class="describe">
              <div class="s1">
                <h6><%= __('university_index_feature') %></h6>
                <p><img class="lbtri"></img><span><%= __('university_index_PLA_feature1') %></span></p>
                <p><img class="lbtri"></img><span><%= __('university_index_PLA_feature2') %></span></p>
                <p><img class="lbtri"></img><span><%= __('university_index_PLA_feature3') %></span><br></p>
                <p><img class="lbtri"></img><span><%= __('university_index_PLA_feature4') %></span><br></p>
              </div>
              <div class="s2">
                <h6><%= __('university_index_for') %></h6>
                <p><img class="lbtri"></img><span><%=__('university_index_PLA_who1')%></span></p>
                <p><img class="lbtri"></img><span><%=__('university_index_PLA_who2')%></span><br></p>
                <p><img class="lbtri"></img><span><%=__('university_index_PLA_who3')%></span><br></p>
                <p><img class="lbtri"></img><span><%=__('university_index_PLA_who4')%></span></p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12">
            <img src="<%=__('university_index_VIP')%>" alt="">
            <div class="describe">
              <div class="s1">
                <h6><%= __('university_index_feature') %></h6>
                <p><img class="lbtri"></img><span><%=__('university_index_VIP_feature1')%></span></p>
                <p><img class="lbtri"></img><span><%=__('university_index_VIP_feature2')%></span><br></p>
                <p><img class="lbtri"></img><span><%=__('university_index_VIP_feature3')%></span><br></p>
              </div>
              <div class="s2">
                <h6><%= __('university_index_for') %></h6>
                <p><img class="lbtri"></img><span><%=__('university_index_VIP_who1')%></span></p>
                <p><img class="lbtri"></img><span><%=__('university_index_VIP_who2')%></span><br></p>
                <p><img class="lbtri"></img><span><%=__('university_index_VIP_who3')%></span><br></p>
                <p><img class="lbtri"></img><span><%=__('university_index_VIP_who4')%></span></p>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="height:20px; background-color:#CFCFCF;">

        </div>
      </div>

      <div class="container workflow">
        <div class="row justify-content-center heading">
          <h1><%=__('university_index_heading4')%></h1>
        </div>
        <div class="row figure">
          <div class="col-12">
            <img src="<%=__('university_workflow')%>" alt="">
          </div>
        </div>
      </div>
      <%include footer.ejs%>
    </body>
</html>
