<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <script type="text/javascript" src="/static/js/home/script.js" ></script>
    <script type="text/javascript" src="/static/js/home/university_featured.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/home/style.css" />
    <link rel="stylesheet" href="/static/css/home/university_featured.css">
    <link rel="stylesheet" href="/static/css/home/fonts.css">
    <link rel="stylesheet" href="/static/css/home/animation.css">
    </head>
    <body>
      <% include navbar.ejs %>
      <% include fixedicon.ejs %>
      <div class="banner">
        <img src="/static/img/university_featured_banner.jpg" width="100%" alt="">
        <div class="container ontop" >
          <div class="row animated fadeInRight heading">
              <p>前50/80名校保读项目</p>
          </div>
          <div class="row animated fadeInRight mt-1">
            <div class="col-2" style="color: black">
              <div class="cube">
                <p style="margin:0">导语</p>
              </div>
            </div>
            <div class="col-10 content">
              <p>条条大路通罗马，考入名校的道路自然也不止一条。美国两年制大学是美国大学重要组成之一。很多两年制大学都和名校有转学协议，学员达到一定要求，即可保证录取。两年制大学小班教学，学费低廉，课业较轻松，利于国际生心里过渡，文化融入。</p>
            </div>
          </div>
        </div>
        <div class="container ontop-en" >
          <div class="row animated fadeInRight heading">
              <p>Top 50 colleges program</p>
          </div>
          <div class="row animated fadeInRight mt-1">
            <div class="col-2" style="color: black">
              <div class="cube">
                <p style="margin:0">Lead</p>
              </div>
            </div>
            <div class="col-10 content">
              <p>There are more than one way to be enrolled in top 50 colleges. Two-year college plays an important role for those who wish to obtain a degree in top 50 schools. There are many programs that guarantee two-year university students to transfer to four-year colleges as long as they meet certain requirements. The class size of two-year colleges is usually smaller, and the tuition is relatively lower.
                With these advantages, most international students adapt the American culture faster and better than those who attend regular four-year colleges. </p>
            </div>
          </div>
        </div>
      </div>
      <div class="introduction container w-100">
        <div class="row justify-content-center heading">
          <h1>名校保读 项目介绍</h1>
        </div>
        <div class="row content">
          <p>美国厚德教育名校保读计划，是一条通向美国名校的捷径。学生先在合作两年制大学进修大一大二课程，然后转入美国前50名名校完成大三大四，拿到本科学位。学生无需再花费大量时间、精力来准备美国大学入学考试和英语语言测试，申请时若无语言成绩，
            只需参加校内测试，通过即可开始大学课程。中国学生在国内完成高一、年满16岁即可申请，开始大学生活。</p>
        </div>
      </div>

      <div class="crowd container">
        <div class="row justify-content-center heading">
          <h1><%=__('university_featured_heading2')%></h1>
        </div>
        <div class="row justify-content-around content">
          <div class="col-lg-3 col-sm-10">
            <img src="/static/img/university_featured_2.png" alt="">
            <p><%=__('university_featured_who_detail1')%></p>
          </div>
          <div class="col-lg-3 col-sm-10">
            <img src="/static/img/university_featured_3.png" alt="">
            <p><%=__('university_featured_who_detail2')%></p>
          </div>
          <div class="col-lg-3 col-sm-10">
            <img src="/static/img/university_featured_4.png" alt="">
            <p><%=__('university_featured_who_detail3')%></p>
          </div>
          <div class="col-lg-3 col-sm-10">
            <img src="/static/img/university_featured_1.png" alt="">
            <p><%=__('university_featured_who_detail4')%></p>
          </div>
        </div>
      </div>

      <div class="advance container">
        <div class="row justify-content-center heading">
          <h1><%=__('university_index_heading3')%></h1>
        </div>
        <div class="row justify-content-around content">
          <div class="col-lg-4 col-sm-10" id="money">
            <img src="<%=__('university_index_assurance_savemoney')%>" alt="">
            <p><%=__('university_index_assurance_savemoney_detail')%></p>
          </div>
          <div class="col-lg-4 col-sm-10" id="time">
            <img src="<%=__('university_index_assurance_savetime')%>" alt="">
            <p><%=__('university_index_assurance_savetime_detail')%></p>
          </div>
          <div class="col-lg-4 col-sm-10" id="college">
            <img src="<%=__('university_index_assurance_noblecollege')%>" alt="">
            <p><%=__('university_index_assurance_noblecollege_detail')%></p>
          </div>
          <div class="col-lg-4 col-sm-10" id="host">
            <img src="<%=__('university_index_assurance_hostfamily')%>" alt="">
            <p><%=__('university_index_assurance_hostfamily_detail')%></p>
          </div>
          <div class="col-lg-4 col-sm-10" id="trans">
            <img src="<%=__('university_index_assurance_transfer')%>" alt="">
            <p><%=__('university_index_assurance_transfer_detail')%></p>
          </div>
        </div>
      </div>


      <div class="container workflow">
        <div class="row justify-content-center heading">
          <h1><%=__('university_index_heading4')%></h1>
        </div>
        <img class="py-2" src="<%=__('university_workflow')%>" alt="">
      </div>
      <% include footer.ejs %>
    </body>
</html>
