<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <script type="text/javascript" src="/static/js/home/script.js" ></script>
    <script type="text/javascript" src="/static/js/home/university_index.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/home/style.css" />
    <link rel="stylesheet" href="/static/css/home/university_index.css">
    <link rel="stylesheet" href="/static/css/home/fonts.css">
    <link rel="stylesheet" href="/static/css/home/animation.css">
    </head>
  <body>
    <% include navbar.ejs %>
    <% include fixedicon.ejs %>
    <div class="banner">
      <img src="/static/img/university_main_banner.jpeg" width="100%" alt="">
      <div class="container ontop" >
        <div class="row animated fadeInRight" >
          <div class="col-lg-2 p-1 left" style="background-color:white; text-align:center; color:#90ADBB">
            <span class="p-0 m-0">名师团队</span>
          </div>
          <div class="col-lg-10 col-md-12 right">
            <span class="p-0 m-0">全心全意，</span><br>
            <span class="p-0 m-0" style="space-white:nowrap">为您的留学之路保驾护航</span>
          </div>
        </div>
        <div class="row justify-content-end my-4 animated fadeInRight">
          <div class="col-auto bottom">
            <span>7对1顾问团队，一站式留学申请规划，达到从中到美完美过渡</span>
          </div>
        </div>
      </div>
      <div class="container ontop-en">
        <div class="animated fadeInRight cube">
          <h1>All Star</h1>
          <p>Mentor Team</p>
        </div>
        <div class="animated fadeInRight detail">
          <p>Helps you to transfer seamlessly from your home to United States</p>
        </div>
      </div>
    </div>

    <div class="children container">
      <div class="backbar"></div>
      <div class="row">
        <div class="child">
          <a style="margin-left:9%" href="/home/university/apply"><%=__('bachelorApply')%></a>
        </div>
        <div class="child">
          <a href="/home/university/transfer"><%=__('transformApply')%></a>
        </div>
        <div class="child">
          <a href="/home/university/featured"><%=__('50Guarantee')%></a>
        </div>
      </div>
    </div>

    <div class="container assesment w-100">
      <div class="row justify-content-center heading">
        <h1 class="px-5 pb-2"><%=__('university_index_heading5')%></h1>
      </div>
      <div class="row">
        <div class="col-12 p-0">
          <img src="/static/img/university_index_assesment.jpg" alt="">
          <div class="container assesForm w-100">
            <div class="alert alert-success" role="alert">
              <strong>Success</strong> Your information has already been sent to our database. We well connect with you as soon as possible.
            </div>
            <form>
              <div class="row justify-content-center">
                <div class="form-group col-3">
                  <label for="name"><%=__('university_index_assessment_name')%></label>
                  <input type="text" id="name" placeholder="*">
                </div>
                <div class="form-group col-3">
                  <label for="school"><%=__('university_index_assessment_school')%></label>
                  <input type="text" id="school">
                </div>
                <div class="form-group col-3">
                  <label for="major"><%=__('university_index_assessment_major')%></label>
                  <input type="text" id="major">
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="form-group col-3">
                  <label for="grade"><%=__('university_index_assessment_grade')%></label>
                  <input type="text" id="grade" placeholder="*">
                </div>
                <div class="form-group col-3">
                  <label for="email"><%=__('university_index_assessment_email')%></label>
                  <input type="email" id="email" placeholder="*">
                </div>
                <div class="form-group col-3">
                  <label for="cellphone"><%=__('university_index_assessment_number')%></label>
                  <input type="text" id="cellphone">
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="form-group col-3">
                  <label for="target"><%=__('university_index_assessment_target')%></label>
                  <input type="text" id="target">
                </div>
                <div class="form-group col-3">
                  <label for="GPA"><%=__('university_index_assessment_GPA')%></label>
                  <input type="text" id="GPA">
                </div>
                <div class="form-group col-3"></div>
              </div>
              <div class="row justify-content-center">
                <div class="col-2">
                  <button type="submit" style="transform:scale(1.5); margin-top:20%">
                    <img src="/static/img/university_assesFrom_submit.png" alt="">
                    <span style="line-height:200%"><%=__('submit')%></span>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <% include footer.ejs %>
  </body>
</html>
