<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <script type="text/javascript" src="/static/js/home/script.js" ></script>
    <!-- <script type="text/javascript" src="/static/js/home/university_index.js"></script> -->
    <link rel="stylesheet" type="text/css" href="/static/css/home/style.css" />
    <link rel="stylesheet" href="/static/css/home/ustrip_index.css">
    <link rel="stylesheet" href="/static/css/home/fonts.css">
    <link rel="stylesheet" href="/static/css/home/animation.css">
    </head>
  <body>
    <% include navbar.ejs %>
    <% include fixedicon.ejs %>
    <div class="banner">
      <img src="/static/img/ustrip_index_banner.jpg" alt="">
      <div class="bannerText container">
        <div class="row justify-content-center">
          <p class="heading m-3"><%=__('studytrip_index_title')%></p>
        </div>
        <div class="row justify-content-center p-0 m-0">
          <div class="bar"></div>
        </div>
        <div class="row justify-content-center">
          <p class="subtitle m-4"><%=__('studytrip_index_subtitle')%></p>
        </div>
        <div class="row justify-content-around details">
          <button type="button" name="button" onclick="location.href='#details'"><%=__('studytrip_index_infobutton')%></button>
          <button type="button" name="button" onclick="location.href='/home/aboutUs/contact#contactInfo'"><%=__('studytrip_index_signbutton')%></button>
        </div>
      </div>
      <!-- <div class="modal fade" id="tripdetails" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="triptitle"><%=__('studytrip_index_title')%></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <img src="/static/img/ustrip_index_seattle_page_1.jpg" alt="">
              <img src="/static/img/ustrip_index_seattle_page_2.jpg" alt="">
            </div>
          </div>
        </div>
      </div> -->
    </div>

    <div class="posters container">
      <div class="heading row justify-content-center">
        <h1><%=__('ustrip_index_heading1')%></h1>
      </div>
      <div class="row content">
        <div class="col-7">
          <img src="/static/img/ustrip_index_1.png" alt="">
        </div>
        <div class="col-5">
          <h2><%=__('ustrip_index_content1_heading')%></h2>
          <p><%=__('ustrip_index_content1_detail1')%></p>
          <p><%=__('ustrip_index_content1_detail2')%></p>
          <p><%=__('ustrip_index_content1_detail3')%></p>
        </div>
      </div>
      <div class="row content">
        <div class="col-5">
          <h2><%=__('ustrip_index_content2_heading')%></h2>
          <p><%=__('ustrip_index_content2_detail1')%></p>
          <p><%=__('ustrip_index_content2_detail2')%></p>
          <p><%=__('ustrip_index_content2_detail3')%></p>
        </div>
        <div class="col-7">
          <img src="/static/img/ustrip_index_2.png" alt="">
        </div>
      </div>
      <div class="row content">
        <div class="col-7">
          <img src="/static/img/ustrip_index_3.png" alt="">
        </div>
        <div class="col-5">
          <h2><%=__('ustrip_index_content3_heading')%></h2>
          <p><%=__('ustrip_index_content3_detail1')%></p>
          <p><%=__('ustrip_index_content3_detail2')%></p>
          <p><%=__('ustrip_index_content3_detail3')%></p>
        </div>
      </div>
      <div class="row content">
        <div class="col-5">
          <h2><%=__('ustrip_index_content4_heading')%></h2>
          <p><%=__('ustrip_index_content4_detail1')%></p>
          <p><%=__('ustrip_index_content4_detail2')%></p>
          <p><%=__('ustrip_index_content4_detail3')%></p>
        </div>
        <div class="col-7">
          <img src="/static/img/ustrip_index_4.png" alt="">
        </div>
      </div>
    </div>
    <div class="itinerary container" id="details">
      <div class="heading row justify-content-center">
        <h1>夏令营 行程安排</h1>
      </div>
      <div class="content row justify-content-center">
        <table>
          <tbody>
            <tr>
              <th rowspan="28" bgcolor="#30415D" valign="top" width="13%"><h2>第<br>一<br>周</h2></th>
              <th rowspan="4" bgcolor="#90ADBB"><h3>7/10星期天</h3></th>
              <td bgcolor="#90ADBB" align="right"><span>12:00 PM</span></td>
              <td bgcolor="#90ADBB"><span>抵达西塔克机场，接机人员负责学生安全到达卡斯卡迪亚</span></td>
            </tr>
            <tr>
              <td bgcolor="#90ADBB" align="right"><span>1:30 PM</span></td>
              <td bgcolor="#90ADBB"><span>正是会见寄宿家庭</span></td>
            </tr>
            <tr>
              <td bgcolor="#90ADBB" align="right"><span>2:00 PM</span></td>
              <td bgcolor="#90ADBB"><span>参见新生招待会</span></td>
            </tr>
            <tr>
              <td bgcolor="#90ADBB" align="right"><span>4:30 PM</span></td>
              <td bgcolor="#90ADBB"><span>搬入寄宿家庭</span></td>
            </tr>
            <tr>
              <th rowspan="3"><h3>7/11星期一</h3></th>
              <td align="right"><span>8:30 —— 11:30 AM</span></td>
              <td><span>英语课程 + 美国文化课</span></td>
            </tr>
            <tr>
              <td align="right"><span>11:30 —— 12:30 PM</span></td>
              <td><span>学校食堂午餐时间</span></td>
            </tr>
            <tr>
              <td align="right"><span>12:30 —— 4:00 PM</span></td>
              <td><span>自由活动</span></td>
            </tr>
            <tr>
              <th rowspan="7" bgcolor="#90ADBB"><h3>7/12星期二</h3></th>
              <td bgcolor="#90ADBB" align="right"><span>8:30 —— 11:30 AM</span></td>
              <td bgcolor="#90ADBB"><span>英语课程 + 美国文化课</span></td>
            </tr>
            <tr>
              <td bgcolor="#90ADBB" align="right"><span>11:30 —— 12:30 PM</span></td>
              <td bgcolor="#90ADBB"><span>学校食堂午餐时间</span></td>
            </tr>
            <tr>
              <td bgcolor="#90ADBB" align="right"><span>12:30 —— 1:30 PM</span></td>
              <td bgcolor="#90ADBB"><span>启程离开校园前往西雅图</span></td>
            </tr>
            <tr>
              <td bgcolor="#90ADBB" align="right"><span>1:30 —— 2:00 PM</span></td>
              <td bgcolor="#90ADBB"><span>乘火车到达太空针塔</span></td>
            </tr>
            <tr>
              <td bgcolor="#90ADBB" align="right"><span>2:00 —— 3:30 PM</span></td>
              <td bgcolor="#90ADBB"><span>环游太空针塔</span></td>
            </tr>
            <tr>
              <td bgcolor="#90ADBB" align="right"><span>3:30 —— 4:00 PM</span></td>
              <td bgcolor="#90ADBB"><span>乘火车到达西雅图西湖中心</span></td>
            </tr>
            <tr>
              <td bgcolor="#90ADBB" align="right"><span>4:00 —— 5:00 PM</span></td>
              <td bgcolor="#90ADBB"><span>返回校园</span></td>
            </tr>
            <tr>
              <th rowspan="5"><h3>7/13星期三</h3></th>
              <td align="right"><span>8:30 —— 11:30 AM</span></td>
              <td><span>英语课程 + 美国文化课</span></td>
            </tr>
            <tr>
              <td align="right"><span>11:30 —— 12:30 PM</span></td>
              <td><span>学校食堂午餐时间</span></td>
            </tr>
            <tr>
              <td align="right"><span>12:30 —— 1:30 PM</span></td>
              <td><span>启程离开校园前往西雅图</span></td>
            </tr>
            <tr>
              <td align="right"><span>1:30 —— 3:30 PM</span></td>
              <td><span>参观派克市场，品尝世界上第一家星巴克</span></td>
            </tr>
            <tr>
              <td align="right"><span>5:00 —— 5:30 PM</span></td>
              <td><span>返回校园</span></td>
            </tr>
            <tr>
              <th rowspan="3" bgcolor="#90ADBB"><h3>7/14星期四</h3></th>
              <td bgcolor="#90ADBB" align="right"><span>8:30 —— 11:30 AM</span></td>
              <td bgcolor="#90ADBB"><span>英语课程 + 美国文化课</span></td>
            </tr>
            <tr>
              <td bgcolor="#90ADBB" align="right"><span>11:30 —— 12:30 PM</span></td>
              <td bgcolor="#90ADBB"><span>学校食堂午餐时间</span></td>
            </tr>
            <tr>
              <td bgcolor="#90ADBB" align="right"><span>12:30 —— 1:30 PM</span></td>
              <td bgcolor="#90ADBB"><span>自由活动</span></td>
            </tr>
            <tr>
              <th rowspan="6"><h3>7/15星期五</h3></th>
              <td align="right"><span>10:00 AM</span></td>
              <td><span>校园集合</span></td>
            </tr>
            <tr>
              <td align="right"><span>10:30 —— 11:30 AM</span></td>
              <td><span>启程离开校园前往西雅图</span></td>
            </tr>
            <tr>
              <td align="right"><span>11:30 —— 12:30 PM</span></td>
              <td><span>在西雅图用午餐</span></td>
            </tr>
            <tr>
              <td align="right"><span>12:30 —— 4:00 PM</span></td>
              <td><span>胡利花园及玻璃艺术馆</span></td>
            </tr>
            <tr>
              <td align="right"><span>4:00 —— 5:00 PM</span></td>
              <td><span>返回校园</span></td>
            </tr>
            <tr>
              <td align="right" bgcolor="#CF6766"><span>7/16星期六</span></td>
              <td bgcolor="#CF6766"><span>自由活动</span></td>
            </tr>
          <!-- </tbody>
        </table>
        <table>
          <tbody> -->
            <tr>
              <th rowspan="20" bgcolor="#30415D" valign="top"><h2>第<br>二<br>周</h2></th>
              <th rowspan="3" bgcolor="#90ADBB"><h3>7/18星期一</h3></th>
              <td bgcolor="#90ADBB" align="right"><span>8:30 —— 11:30 AM</span></td>
              <td bgcolor="#90ADBB"><span>英语课程 + 美国文化课</span></td>
            </tr>
            <tr>
              <td bgcolor="#90ADBB" align="right"><span>11:30 —— 12:30 PM</span></td>
              <td bgcolor="#90ADBB"><span>学校食堂午餐时间</span></td>
            </tr>
            <tr>
              <td bgcolor="#90ADBB" align="right"><span>5:30 —— 8:30 PM</span></td>
              <td bgcolor="#90ADBB"><span>电影之夜</span></td>
            </tr>
            <tr>
              <th rowspan="4"><h3>7/19星期二</h3></th>
              <td align="right"><span>8:30 —— 11:30 AM</span></td>
              <td><span>英语课程 + 美国文化课</span></td>
            </tr>
            <tr>
              <td align="right"><span>11:30 —— 12:30 PM</span></td>
              <td><span>学校食堂午餐时间</span></td>
            </tr>
            <tr>
              <td align="right"><span>12:30 —— 4:00 PM</span></td>
              <td><span>访问华盛顿大学</span></td>
            </tr>
            <tr>
              <td align="right"><span>4:00 —— 5:00 PM</span></td>
              <td><span>返回学校</span></td>
            </tr>
            <tr>
              <th rowspan="3" bgcolor="#90ADBB"><h3>7/20星期三</h3></th>
              <td bgcolor="#90ADBB" align="right"><span>8:30 —— 11:30 AM</span></td>
              <td bgcolor="#90ADBB"><span>英语课程 + 美国文化课</span></td>
            </tr>
            <tr>
              <td bgcolor="#90ADBB" align="right"><span>11:30 —— 12:30 PM</span></td>
              <td bgcolor="#90ADBB"><span>学校食堂午餐时间</span></td>
            </tr>
            <tr>
              <td bgcolor="#90ADBB" align="right"><span>12:30 —— 4:00 PM</span></td>
              <td bgcolor="#90ADBB"><span>自由活动</span></td>
            </tr>
            <tr>
              <th rowspan="4"><h3>7/21星期四</h3></th>
              <td align="right"><span>8:30 —— 11:30 AM</span></td>
              <td><span>英语课程 + 美国文化课</span></td>
            </tr>
            <tr>
              <td align="right"><span>11:30 —— 12:30 PM</span></td>
              <td><span>学校食堂午餐时间</span></td>
            </tr>
            <tr>
              <td align="right"><span>12:30 —— 4:00 PM</span></td>
              <td><span>参观波音工厂</span></td>
            </tr>
            <tr>
              <td align="right"><span>4:00 —— 5:00 PM</span></td>
              <td><span>返回学校</span></td>
            </tr>
            <tr>
              <th rowspan="6" bgcolor="#90ADBB"><h3>7/22星期五</h3></th>
              <td bgcolor="#90ADBB" align="right"><span>8:30 —— 11:30 AM</span></td>
              <td bgcolor="#90ADBB"><span>英语课程 + 美国文化课</span></td>
            </tr>
            <tr>
              <td bgcolor="#90ADBB" align="right"><span>11:30 —— 12:30 PM</span></td>
              <td bgcolor="#90ADBB"><span>学校食堂午餐时间</span></td>
            </tr>
            <tr>
              <td bgcolor="#90ADBB" align="right"><span>12:30 —— 4:00 PM</span></td>
              <td bgcolor="#90ADBB"><span>自由活动</span></td>
            </tr>
            <tr>
              <td bgcolor="#90ADBB" align="right"><span>5:30 —— 8:30 PM</span></td>
              <td bgcolor="#90ADBB"><span>告别晚会</span></td>
            </tr>
            <tr>
              <td align="right"><span>7/23 星期六</span></td>
              <td><span>自由活动</span></td>
            </tr>
            <tr>
              <td align="right"><span>7/24 星期天</span></td>
              <td><span>专人接送前往机场，返回中国</span></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row justify-content-center mt-3">
        <button type="button" name="button" onclick="location.href='/home/aboutUs/contact#contactInfo'"><%=__('studytrip_index_signbutton')%></button>
      </div>
    </div>
    <%include footer.ejs%>
  </body>
</html>
