.banner{width:100%;clear: both; overflow: hidden; position: relative; margin-top: 100px;}
.banner img{ width: 100%; display: block;position:fixed;z-index: -1; top:10%;}
.banner .ontop{width:100%;padding:5% 10% 5% 10%; margin-top: 10%;background:rgba(48,65,93,0.8)}
.banner p{color:#90ADBB; font-size: 1.5vw; }
.banner .ontop-en{width:100%;padding:5% 10% 5% 10%; margin-top: 10%;background:rgba(48,65,93,0.8)}

.online{background-color: white;}
.online .heading{background-color: #CFCFCF; margin-top:50%}
.online .heading::before{ content: ""; width: 0;
height: 0;
border-style: solid;
border-width: 160px 0 0 750px;
border-color: transparent transparent transparent white;
left:0;bottom:0;position:absolute;}
.online .heading::after{ content: ""; width: 0;
height: 0;
border-style: solid;
border-width: 160px 750px 0 0;
border-color: transparent white transparent transparent;
right:0;bottom:0;position:absolute;}
.online .heading .row{width:101%}
.online .heading h1{font-family: "Lato-Bold"; font-size: 3.2vw; text-align: center; color: white}
.online .message input{width:100%; padding:2%; font-size:1.2vw; border-radius: 5px; box-shadow: none; border:1px solid gray}
.online .message .row {margin-top:2%}
.online .message .row:nth-child(1) input{padding:4%; width: 100%}
.online .message .mustfill1::before{content: "*"; color:red; font-weight: bold; top: 30%; left:5%; position:absolute;}
.online .message .mustfill2::before{content: "*"; color:red; font-weight: bold; top: 30%; left:7%; position:absolute;}
.online .message .mustfill3::before{content: "*"; color:red; font-weight: bold; top: 30%; left:2.5%; position:absolute;}

.online .message textarea{width:100%; padding:2%; font-size:1vw; border-radius: 5px; border:1px solid gray; height:300px}
.online .message button{width:15%; border:none; line-height: 250%; background-color:#90ADBB; border-radius:8px; color:white;font-size: 1vw}

.contact {background-color:white}
.contact .heading{padding-top: 4%; padding-bottom: 2%;background-color:white;}
.contact .heading h1{font-family: "Lato-Bold"; font-size: 3.2vw; color:#031424; text-align: center;border-bottom: 2px solid #90ADBB; width: 30%}
.contact img{width:100%}
.contact h3{font-size:2.3vw}
.contact p{font-size:1vw}

.contact .icons{margin-top:7%; padding-bottom:7%}
.contact .address{background-color: #CFCFCF;}
.contact .address .details {padding-left:3%; padding-top: 3%;}
.contact .address .details img{width:80%; float:right}
.contact .address .details p{color:white}
.contact .address .details .row{margin-bottom:3%}
.contact .address .direction .location{background: #30415D; width:30%; border-radius: 10px; color:white; position:absolute; top:30%; left:35%}
.contact .address .direction .location::after{position:absolute;top:100%;left:45%;content:"";width: 0;height: 0;border-style: solid;border-width:7px 7px 0 7px; border-color: #30415D transparent transparent transparent;}
.contact .address .direction .location a{text-align: center;font-size:1vw;width:60%;background-color: transparent; color: white;border:2px solid white;border-radius: 20px}
.contact .address .direction .location img{width:70%;float:right; margin-top:}
