.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/*fadeInDown animation*/
@-webkit-keyframes fadeInDown {
  0% {
     opacity: 0;
     -webkit-transform: translateY(-50px);
  }
  100% {
     opacity: 1;
     -webkit-transform: translateY(0);
  }
}
@keyframes fadeInDown {
  0% {
     opacity: 0;
     transform: translateY(-50px);
  }
  100% {
     opacity: 1;
     transform: translateY(0);
  }
}
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
/*fadeInDown animation*/
@-webkit-keyframes fadeInRight {
  0% {
     opacity: 0;
     -webkit-transform: translateX(-100px);
  }
  100% {
     opacity: 1;
     -webkit-transform: translateX(0);
  }
}
@keyframes fadeInRight {
  0% {
     opacity: 0;
     transform: translateX(-100px);
  }
  100% {
     opacity: 1;
     transform: translateX(0);
  }
}
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
