@font-face {
  font-family: cubeBold;
  src: url(/static/fonts/Cube-Bold.ttf)  format('truetype');
}
@font-face{
	font-family:'Lato-hairLine';
	src:url(static/fonts/Lato-Hairline.eot);
	src:url(static/fonts/Lato-Hairline.eot?#iefix) format('embedded-opentype'),
	url('static/fonts/Lato-Hairline.woff2') format('woff2'),
	url(/static/fonts/Lato-Hairline.ttf) format('truetype')
}
@font-face{
	font-family:'Lato-Bold';
	src:url(/static/fonts/Lato-Bold.eot);
	src:url(/static/fonts/Lato-Bold.eot?#iefix) format('embedded-opentype'),
	url('/static/fonts/Lato-Bold.woff2') format('woff2'),
	url(/static/fonts/Lato-Bold.ttf) format('truetype')
}
@font-face{
	font-family:'Lato-Light';
	src:url(/static/fonts/Lato-Light.eot);
	src:url(/static/fonts/Lato-Light.eot?#iefix) format('embedded-opentype'),
	url('/static/fonts/Lato-Light.woff2') format('woff2'),
	url(/static/fonts/Lato-Light.ttf) format('truetype')
}
@font-face{
  font-family: 'moon';
  src:url(/static/fonts/Moon_Bold.otf);
  font-weight: bold;
}
@font-face{
  font-family: 'moon';
  src:url(/static/fonts/Moon_Light.otf);
}
