.banner{width:100%;clear: both; overflow: hidden; position: relative; margin-top: 100px;}
.banner img{ width: 100%; display: block; top:10%;}
.banner .ontop{position: absolute; left: 0; top:30%; background-color: rgba(144,173,187,0.8);width: 60%;border-radius: 0 15px 15px 0; padding: 4%; padding-bottom: 6%}
.banner .ontop h1{font-size: 3vw; font-weight: bolder; color:white}
.banner .ontop .introduction{width:100%; margin-top: 3%}
.banner .ontop .introduction .heading{width:20%;background-color: inherit;}
.banner .ontop .introduction .heading h1{background-color: white; padding:5%;font-size: 2.6vw; color:#30415D; font-weight: bolder; border:none; margin-top: 20%; text-align: center}
.banner .ontop .introduction .content{width:75%; margin-left: 5%}
.banner .ontop .introduction .content p{font-size: 1vw; color:white}
.banner .ontop-en{position: absolute; left:0; top:30%; background-color: rgba(144,173,187,0.8);width: 60%;border-radius: 0 15px 15px 0; padding: 5%; padding-bottom: 6%}
.banner .ontop-en h1{font-size: 3vw; font-weight: bolder; color:white; }
.banner .ontop-en .heading{width:20%;background-color: inherit; margin-top: 3%}
.banner .ontop-en .heading h1{background-color: white; padding:5%;font-size: 2.6vw; color:#30415D; font-weight: bolder; border:none; margin-top: 20%; text-align: center}
.banner .ontop-en .content{ margin-top: 5%}
.banner .ontop-en .content p{font-size: 1vw; color:white}

.program-detail{margin:0;padding:0; padding-top:5%; padding-bottom: 3%;width: 100%; overflow:hidden}
.program-detail .heading{margin-bottom: 3%}
.program-detail .heading h1{margin:0;padding:0 5% 1% 5%;font-family: "Lato-Bold"; font-size: 3.2vw; color:#031424; text-align: center;border-bottom: 2px solid #90ADBB; }
.program-detail .content{margin:0; padding:0;width: 80%; margin-left: 10% }
.program-detail .content p{padding:0}

.program {width:100% ;background-color: #CFCFCF;overflow:hidden;margin:0;padding:0; padding-top: 5%; }
.program .heading{margin:0; padding:0;margin-bottom: 3%; background-color: inherit; }
.program .heading h1{margin:0;padding:0 5% 1% 5%;font-family: "Lato-Bold"; font-size: 3.2vw; color:#031424; text-align: center;border-bottom: 2px solid #90ADBB; }
.program .programlist{padding:0 5% 5% 5%; background-color: #CFCFCF}
.program .programlist img{width: 100%}
.program .programlist .title{position:absolute; width:100%; text-align: center; font-size: 2.5vw; top: 20%; left:0; color:white;}
.program .programlist .zh{font-weight: bolder}
.program .programlist .describe{width:80%;margin-left:10%; margin-top:10%;}
/*.program .programlist img:hover + .describe{display:block}
.program .programlist .describe:hover{display:block}*/

.workflow {overflow: hidden}
.workflow .heading{padding-top: 4%; padding-bottom: 2%;background-color:white;}
.workflow .heading h1{font-family: "Lato-Bold"; font-size: 3.2vw; color:#031424; text-align: center;border-bottom: 2px solid #90ADBB; }
.workflow img{width:98%;margin-top:-12vw;}

/*.transfer{background-color:#CFCFCF}
.transfer .heading{padding-top: 4%; padding-bottom: 2%;}
.transfer .heading h1{font-family: "Lato-Bold"; font-size: 3.2vw; color:#031424; padding-left: 5%; padding-right: 5%;text-align: center;border-bottom: 2px solid #90ADBB;}
.transfer .programlist{width: 90%; margin-left: 5%}
.transfer .programlist img{width:100%; box-shadow: 0.3vw 0.3vw 0.1vw 0 #30415D; margin:0 2% 0 2%}
.transfer .process img{width: 100%; padding-top: 5%;}
.transfer .process{background-color: white}
.transfer p{width:50%; margin-left: 25%; margin-top: 10%;border:1px solid #30415D; border-radius: 5px; text-align: center}*/

@media (max-width : 576px){
  .program .heading h1{font-size:6.0vw}
  .program-detail .heading h1{font-size:6.0vw}
  .workflow .heading h1{font-size:6.0vw}
  .program .programlist .title{font-size:5.0vw}
}

@media (min-width : 577px) and (max-width : 768px){
  .program .heading h1{font-size:4.5vw}
  .program-detail .heading h1{font-size:4.5vw}
  .workflow .heading h1{font-size:4.5vw}
  .program .programlist .title{font-size:4.0vw}
}
