/*for text on img*/
.banner{width: 100%; clear: both; overflow: hidden; position: relative; margin-top: 100px;}
.banner img{ width: 100%; display: block; left: 0; top: 0}
.banner .bannerText{ position: absolute; width: 100%; text-align: center; left: 0; top: 30%; color: #fff;}
.banner .bannerText h1{font-family: "Lato-Bold"; font-size: 3.8vw; border: 3px solid white; border-radius: 25px; text-shadow: 3px 3px 5px black;}
.banner .triangle-down{position:relative; width: 0; height: 0; border-style: solid; border-width: 1.3vw 1.3vw 0 1.3vw; border-color: white transparent transparent transparent}
.banner a{font-family: "Lato-Light";font-size: 2.3vw; padding:1.5% 5% 1.5% 5%;text-decoration: none;border-radius: 10px; background: white; color: gray;}

.about{margin:0; padding:0;width:100%; padding-top:5%; padding-bottom: 3%;overflow:hidden}
.about .heading{margin:0; padding:0;margin-bottom:3%; border:none;}
.about .heading h1{font-family: "Lato-Bold"; font-size: 3.2vw; text-align: center; padding:0 5% 1% 5%; border-bottom:2px solid #90ADBB}
.about .content{margin:0; padding:0;width:80%; margin-left: 10%}
.about .content p{margin:0; padding:1%}

/*for index page service*/
.service {padding:0;padding-top: 5%;padding-bottom: 3%;background-color: #CFCFCF; margin-bottom: 5%; overflow:hidden;}
.service .heading{margin-bottom: 3%}
.service .heading h1{padding:0 5% 1% 5%; border-bottom: 2px solid #90ADBB; font-size: 3.2vw}
.service .servicetable tr{padding:0; margin: 0;}
.service .servicetable tr td{margin:0; padding:0; border:none}
.service .servicetable tr td img{max-width:100%; margin:0; padding:0}

/*#serviceConsult {background-color: #90ADBB; border-radius: 10px; box-shadow: none; border:none;margin-top:18%}
#serviceConsult img{width:15%; height: auto}
#serviceConsult p{font-family: "Lato-Bold";font-weight: 20px; font-size:1.3vw;text-align: center; display: inline; color: white;}*/
/*for index page headings*/
/*.heading{padding-top: 4%; padding-bottom: 2%;background-color:white;}
.heading h1{font-family: "Lato-Bold"; font-size: 3.2vw; color:#031424; text-align: center;border-bottom: 2px solid #90ADBB; }*/

@media (max-width : 576px){
  .about .heading h1{font-size:6.0vw}
  .service .heading h1{font-size:6.0vw}
}

@media (min-width : 577px) and (max-width : 768px){
  .about .heading h1{font-size:4.5vw}
  .service .heading h1{font-size: 4.5vw}
}
