.article{width: 60%; margin-left: 20%}
.article img{width:100%}
.article .title{border-bottom: 1px solid gray; padding-bottom: 1%;}
.article .header1{padding-bottom: 5%}
.article h1{font-size: 2.5vw}
.article h2{font-size: 1.5vw; font-weight:bolder;}
.article .ltri{width: 0; height:0; border-top:0.5vw solid transparent; border-bottom:0.5vw solid transparent; border-left: 0.85vw solid blue}
.article .rtri{width: 0; height:0; border-top:0.5vw solid transparent; border-bottom:0.5vw solid transparent; border-right: 0.85vw solid blue}
.article .bar{width:8%; border:1px solid blue; height:0; margin-top: 1.2%}
.article .author{margin-top:1%}
.article .pic{padding:10% 5% 10% 5%}
.article .introduction::before{width:80%;border-top:0.3px solid gray; content:""; display:block; padding-bottom: 5%}
.article .introduction::after{width:80%;margin-left: 20%;border-top:0.3px solid gray; content:""; display:block; margin-top: 5%}
.article p{font-size: 1.2vw; line-height: 200%}

.article .lbconer{width:100%;}
.article .lbconer::before{content:"";width:7%;display:block;border-bottom:1px solid gray;position:absolute;bottom:15%}
.article .lbconer::after{content:"";display:block;border-left:1px solid gray;padding-top: 5%;position:absolute;bottom:10%; left:3%}
.article .ruconer{width:100%;}
.article .ruconer::before{content:"";width:7%;display:block;border-top:1px solid gray;position:absolute;right:0; top:3%}
.article .ruconer::after{content:"";display:block;border-left:1px solid gray;padding-top: 5%;position:absolute;right:2%}
