.cardlist{margin-top:10%; width: 90%; margin-left: 5%}
.cardlist .cover{border:1px solid gray; border-radius: 2px;height:100%}
.cardlist .cover .card-cap { width: 90%; margin-left: 5%; overflow:hidden}
.cardlist .cover .card-cap::after {content:""; display:block;padding-top: 60%}
.cardlist .cover .card-cap img{width:100%;position:absolute;top:5%; left:0}
.cardlist .cover .card-time {padding-left: 5%;}
.cardlist .cover .card-time p {font-size: 10px; color:gray}
.cardlist .cover .card-title {padding-left: 3%; padding-top:4%}
.cardlist .cover .card-title h1{font-size: 18px}
.cardlist .cover .card-detail {width:90%;margin-left: 5%; margin-top: 5%; border-bottom: 1px solid gray}
.cardlist .cover .card-detail p {font-size:12px; color:gray}
.cardlist .cover input{border:none; font-size: 12px; color:gray; background: none; width:100%; margin-top:3%; margin-bottom:3%}
.cardlist .cover input:hover{cursor:pointer;}
