.banner{width:100%;clear: both; overflow: hidden; position: relative; margin-top: 100px;}
.banner img{width:100%;}
.banner .circle{border:3px solid white; width:30%; position: absolute; left:35%; top:15%; border-radius: 50%}
.banner .circle::after{padding-bottom: 100%; display: block; content:""}
.banner .circle span{position: absolute;color:white;font-size: 3vw; left:28%; top:25%}
.banner .circle span{font-size: 5vw}
.banner .bar{left:10%; top:60%;position:absolute; width:80%; height: 4vw; overflow: hidden;}
.banner .bar .ribbon{width:60%;background-color: white; transform:rotate(45deg); margin-top:-33%;margin-left: 16%}
.banner .bar .ribbon::after{content:""; padding-bottom: 130%; display:block}
.banner .bar .barlist{position:absolute; top: 10%;left: 15%; width:78%}
.banner .bar .barlist p{color:black; font-size:2vw; white-space: nowrap;}
.banner .bar .barlist p:hover{text-decoration: none;animation-name: shining; animation-duration: 0.2s; animation-fill-mode: both;text-shadow: 0 0 3vw green;}
@keyframes shining{0%{text-shadow:none;} 100%{text-shadow: 3px 3px 3px #30415D;transform:scale(1.1)}}

.quit{width:100%; overflow:hidden; padding:0; padding-top:5%; padding-bottom:3%; background-color:white}
.quit .heading{margin-bottom: 3%}
.quit .heading h1{font-family: "Lato-Bold"; font-size: 3.2vw; color:#031424; text-align: center;border-bottom: 2px solid #90ADBB;padding: 0 5% 1% 5%;}
.quit .content .situation{margin:15%;border:6px solid #CFCFCF; box-shadow:0 0 0 3px white; background-color:#30415D; border-radius:50%;}
.quit .content .situation::after{content:""; padding-bottom: 100%;display:block}
.quit .situation p{position:absolute; top:40%; text-align: center; width: 55%;color:white; font-size:1.6vw}
/*.quit button{width:60%; margin-left:20%; color:black; font-size:1vw; border:0.1vw solid #90ADBB; border-radius: 0.2vw}*/
@media (max-width : 576px){
  .quit .situation p{font-size:8.0vw}
}

@media (min-width : 577px) and (max-width : 768px){
  .quit .situation p{font-size:2.8vw}
}
