.flyer {margin-top:100px; padding: 0}
.flyer img{width:100%; height:33vw}

.programs{width:100%; overflow:hidden; padding:0; padding-top:5%; padding-bottom:3%;}
.programs .heading{margin-bottom:3%}
.programs .heading h1{font-family:"Lato-Bold"; font-size: 3.2vw; color:#031424; text-align: center;border-bottom: 2px solid #90ADBB;padding:0 5% 1% 5%;}
.programs .content{width:80%; margin-left:10%}
.programs .content img{width:100%; height:auto;}
.programs .content h5{font-weight: bold; margin-top:3%}
.programs .content p{font-size: 13px}
.programs .row .row .col-2{padding:0}
.programs .row .row:hover > .col-2{animation-name: spinWhenHover; animation-duration: 1s; animation-fill-mode: both;}
@keyframes spinWhenHover {0%{transform: rotateY(0deg)}  100%{transform:rotateY(360deg)}}
