.banner{width: 100%; clear: both; overflow: hidden; position: relative; margin-top:100px;}
.banner img{width: 100%;}
.banner .bannerText{top:20%; left:60%; width: 40%;text-align: center; color: #fff;position:absolute;}
.banner .bannerText h1{font-family: "Lato-Bold"; font-size: 3.5vw;text-shadow: 3px 3px 5px black;width:100%;text-align: center;}
.banner .bannerText p{font-family:"Lato-Light"; font-size: 1vw ; color:black; padding:5%; text-align: left;}

.children{width:100%; padding:0; margin-top:5%;padding-right: 1%;overflow: hidden}
.children .child{padding:0;width:18%;height:13vw; background-color:#CF6766}
.children .child:nth-child(3){background-color: #90ADBB}
.children .child:first-child{width:16%; background-color: #90ADBB}
.children .child:not(:first-child){margin-left: 7.5%}
.children .child:not(:first-child)::before{content:""; display: block;height:0; width:0; border-style: solid; border-width: 6.5vw 0 6.5vw 7vw; border-color:transparent transparent transparent white;}
.children .child::after{content:""; display: block;height:0; width:0; border-style: solid; border-width: 6.5vw 0 6.5vw 7vw; border-color:transparent transparent transparent #CF6766;position:absolute;top:0; margin-left: 18.1%}
.children .child:nth-child(3)::after{border-left-color: #90ADBB}
.children .child:first-child::after{margin-left: 16.1%; border-left-color: #90ADBB}
.children .child a{position:absolute; top:30%; margin-left:9%; font-size: 2.7vw; z-index: 3; color:white; text-decoration:none;}
.children .child a:hover{text-decoration: none; font-weight: bolder; transform:scale(1.2); text-shadow: 3px 3px 3px black}
.children .backbar{height:10vw; top: 1.5vw; background-color: #CFCFCF; width:100%; position: absolute;background-color: rgba(81,81,81,0.2); z-index: 2}

.allincluded{background-color: white;padding-top: 5%; margin-bottom: 5%}
.allincluded .heading{margin-bottom: 3%}
.allincluded .heading h1{font-family: "Lato-Bold"; font-size: 3.2vw; color:#031424; text-align: center;border-bottom: 2px solid #90ADBB; padding:0 5% 1% 5%}
.allincluded img{width:100%; height:auto;}
