.banner{width:100%;clear: both; overflow: hidden; position: relative; margin-top: 100px;}
.banner img{width:100%; margin-top: -12%; margin-bottom: -12%}
.banner .ontop{position: absolute; left: 0; top:30%; background-color: rgba(48,65,93,0.8);width: 55%;border-radius: 0 15px 15px 0; padding: 4%;}
.banner .ontop p{text-align: left;font-size: 2.5vw; font-weight: bolder; color:white; margin-left:7%; line-height: 180%; letter-spacing: 0.2vw}
.banner .ontop a{text-align: center; text-decoration: none; color: white; padding:1% 5% 1% 5%; border:1px solid white; float:right; border-radius: 5px; font-size: 1.5vw}

.lawprogram{ background-color: white;padding-bottom:10vw; margin-top: 5%}
.lawprogram .heading{ padding-top: 4%; padding-bottom:2%;}
.lawprogram .heading h1{width:20%;font-family: "Lato-Bold"; font-size: 3.2vw; color:#031424; text-align: center;border-bottom: 2px solid #90ADBB; }
.lawprogram .programs1{margin-top:10vw;width:90%; margin-left: 0;z-index: 1;}
.lawprogram .programs2{margin-top:6vw;width:90%; margin-left:8.3%;}
.lawprogram .pixelimg1{width:16vw; height:6.8vw;background-color: #30415D;}
.lawprogram .pixelimg1::before{content:"";margin-top:-6.5vw;width:0; height:0; border-bottom:6.6vw solid #30415D; border-left:8vw solid transparent; border-right:8vw solid transparent;display:block}
.lawprogram .pixelimg1::after{content:"";margin-top:6.7vw;width:0; height:0; border-top:6.5vw solid #30415D; border-left:8vw solid transparent; border-right:8vw solid transparent;display:block}
.lawprogram .pixelimg2{width:16vw; height:6.8vw;background-color: #CF6766;}
.lawprogram .pixelimg2::before{content:"";margin-top:-6.5vw;width:0; height:0; border-bottom:6.6vw solid #CF6766; border-left:8vw solid transparent; border-right:8vw solid transparent;display:block}
.lawprogram .pixelimg2::after{content:"";margin-top:6.7vw;width:0; height:0; border-top:6.5vw solid #CF6766; border-left:8vw solid transparent; border-right:8vw solid transparent;display:block}
.lawprogram .pixelimg3{width:16vw; height:6.8vw;background-color: #90ADBB;}
.lawprogram .pixelimg3::before{content:"";margin-top:-6.5vw;width:0; height:0; border-bottom:6.6vw solid #90ADBB; border-left:8vw solid transparent; border-right:8vw solid transparent;display:block}
.lawprogram .pixelimg3::after{content:"";margin-top:6.7vw;width:0; height:0; border-top:6.5vw solid #90ADBB; border-left:8vw solid transparent; border-right:8vw solid transparent;display:block}
.lawprogram h1{width:16vw; position:absolute; color:white; font-size: 2vw; top:2vw; text-align: center}
.lawprogram img{width: 16vw; position:absolute;opacity:0.5; top:-6.5vw}


.visaType {margin-top: 2%; padding:0}
.visaType .title{width:28%; z-index: -1;}
.visaType .title img{width:100%}
.visaType .types{width: 80%; left: 20%; top: 0;z-index: 1; position: absolute;}
.visaType .types .triangle{width: 0; height: 0;border-right:5.5vw solid transparent;border-left:5.5vw solid transparent}
.visaType .types .triangle p{position:absolute; color:white; font-size: 1.5vw; margin-top: 4%; width:12%; text-align: center}

.workflow{padding-top:5%; margin-bottom: 5%}
.workflow .heading{margin-bottom: 3%}
.workflow .heading h1{font-family: "Lato-Bold"; font-size: 3.2vw; color:#031424; text-align: center;border-bottom: 2px solid #90ADBB; padding:0 5% 1% 5%}
.workflow img{width:80%; margin-left: 10%;}
