.banner{width:100%;clear: both; overflow: hidden; position: relative; margin-top: 100px;}
.banner img{width:100%;margin-top: -15%}
.banner .ontop{position: absolute; left: 0; top:30%; background-color: rgba(144,173,187,0.8);width: 55%;border-radius: 0 15px 15px 0; padding: 4%;}
.banner .ontop h1{font-size: 3.2vw; font-weight: bolder; color:white}
.banner .ontop .heading{width:20%;}
.banner .ontop .heading h1{font-size: 2.6vw; background-color: white; font-weight: bolder; color:black; text-align:center; margin-top: 10%; padding:5%}
.banner .ontop .content{width:75%; margin-left: 5%}
.banner .ontop .content p{font-size:1.2vw; color:white}

.programs{width:100%;padding-top: 5%; padding-bottom: 3%;background-color:white; margin-bottom: 3%}
.programs .content{width:80%; margin-left: 10%;}
.programs .content img{width:100%}
.programs .content h1{font-size: 2.5vw}
.programs .content p{font-size:1vw}

@media (max-width : 576px){
  .programs .content h1{font-size:6.0vw}
  .programs .content p{font-size:3.0vw}
}

@media (min-width : 577px) and (max-width : 768px){
  .programs .content h1{font-size:4.5vw}
  .programs .content p{font-size:2.0vw}
}
