.banner{width:100%;clear: both; overflow: hidden; position: relative; margin-top: 100px;}
.banner img{width:100%;margin-top: -15%}
.banner .ontop{position: absolute; left: 0; top:30%; background-color: rgba(48,65,93,0.8);width: 55%;border-radius: 0 15px 15px 0; padding: 4%;}
.banner .ontop h1{font-size: 3.2vw; font-weight: bolder; color:white}
.banner .ontop .heading{width:20%;}
.banner .ontop .heading h1{font-size: 2.6vw; background-color: white; font-weight: bolder; color:black; text-align:center; margin-top: 10%; padding:5%}
.banner .ontop .content{width:75%; margin-left: 5%}
.banner .ontop .content p{font-size:1.2vw; color:white}

.program{width:100%; overflow:hidden;padding-top:5%; padding-bottom: 5%}
.program .content{width:80%; margin-left: 10%}
.program .content div{border:2px solid #CFCFCF;}
.program .content h1{font-size:2vw; font-weight: bolder; color:#90ADBB}
.program .content p{font-size:1vw; color:#30415D}

@media (max-width : 576px){
  .program .content h1{font-size:6.0vw}
  .program .content p{font-size:3.0vw}
}

@media (min-width : 577px) and (max-width : 768px){
  .program .content h1{font-size:4.5vw}
  .program .content p{font-size:2.0vw}
}
