.banner{width:100%;clear: both; overflow: hidden; position: relative; margin-top: 100px;}
.banner img{width:100%;}
.banner .ontop{position: absolute; left: 0; top:30%; background-color: rgba(144,173,187,0.8);width: 55%;border-radius: 0 15px 15px 0; padding: 4%;}
.banner .ontop h1{font-size: 3.2vw; font-weight: bolder; color:white}
.banner .ontop .heading{width:20%;}
.banner .ontop .heading h1{font-size: 2.6vw; background-color: white; font-weight: bolder; color:black; text-align:center; margin-top: 10%; padding:5%}
.banner .ontop .content{width:75%; margin-left: 5%}
.banner .ontop .content p{font-size:1.2vw; color:white}

.children{width:100%; padding:0; margin-top:5%;padding-right: 1%;overflow: hidden; margin-bottom: 5%}
.children .child{padding:0;width:20%;height:13vw; background-color:#CF6766}
.children .child:nth-child(3){background-color: #90ADBB}
.children .child:first-child{width:18%; background-color: #90ADBB}
.children .child:not(:first-child){margin-left: 9.5%}
.children .child:not(:first-child)::before{content:""; display: block;height:0; width:0; border-style: solid; border-width: 6.5vw 0 6.5vw 7vw; border-color:transparent transparent transparent white;}
.children .child::after{content:""; display: block;height:0; width:0; border-style: solid; border-width: 6.5vw 0 6.5vw 7vw; border-color:transparent transparent transparent #CF6766;position:absolute;top:0; margin-left: 20.1%}
.children .child:nth-child(3)::after{border-left-color: #90ADBB}
.children .child:first-child::after{margin-left: 18.1%; border-left-color: #90ADBB}
.children .child a{position:absolute; top:30%; margin-left:8%; font-size: 2.7vw; z-index: 3; color:white; text-decoration:none; white-space: normal; width:25%}

.children .child a:hover{text-decoration: none; font-weight: bolder; transform:scale(1.2); text-shadow: 3px 3px 3px black}
.children .backbar{height:10vw; top: 1.5vw; background-color: #CFCFCF; width:100%; position: absolute;background-color: rgba(81,81,81,0.2); z-index: 2}
