/*for navbar style*/
#navbar .navbar-brand img {width:30%; margin-left: 35%}
.navbar {box-shadow: 0 5px 5px gray; padding:0}
.navbar li a{color:white; text-decoration: none;font-family: "Lato-Light";}
#burger{padding:5px; margin-top:20px; background: none; border:none;}
#burger span{position:relative;top:0;width: 25px; height: 5px; margin-top:3px; display: block; background-color:black; border:none; border-radius: 3px; opacity:0.6; transition:all ease-in-out 1s;}
#burger span:first-child{margin-top:0;}
#burger.open span:nth-child(2){width: 0; opacity:0}
#burger.open span:first-child{transform: rotate(45deg);top: 8px;}
#burger.open span:last-child{transform: rotate(-45deg);top:-8px}
#navbar li{font-size: 15px;text-align: center;}
.dropdown {position: relative;display: inline-block; color: white}
.dropdown .dropdown-menu span:hover{cursor:pointer}
.dropdown .dropdown-menu {background-color: #90ADBB}
.dropdown button{background-color: inherit;}
.dropdown-content {display: none;overflow: hidden;border-top: 2px solid #30415D;position: absolute; background-color: #90ADBB; min-width: 160px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 100;}
.dropdown-content .dropdown-item{height: 24px}
.dropdown-content li a{font-size: 12px; float:left; padding-right: 50%}

/*.triangle-right{position:absolute;margin-top: 10px; margin-left: 80px; width: 0; height: 0; border-style: solid; border-width: 3px 0 3px 6px; border-color: transparent transparent transparent black;}*/
.dropdown-content li:hover {background-color: rgba(207,103,102,0.3)}
.dropdown:hover > ul{margin: 0; padding: 0; display: block; left:10%;}


/*for the fixed buttons*/
#fixed{position:fixed; bottom:20%;  right:0; z-index: 100; border-radius: 15px 0 0 15px; max-width: 60px;}
#fixed img{max-height: 30px; width: auto;}
#fixed span{ position:absolute; white-space: nowrap; right:-400px;transition: right ease-in 0.5s;-webkit-transition: right ease-in 0.5s;}
#fixedwechat{background-color: rgba(144,173,187,0.6); border-radius: 10px 0 0 0;}
#fixedcellphone{background-color: rgba(144,173,187,0.6); }
#fixedcellphone:hover > span{position:relative; right:0;}
#fixedcellphone:not(:hover) > span{position:absolute; right:-400px; opacity:0;}
#fixedemail{background-color: rgba(144,173,187,0.6)}
#fixedemail:hover > span{position:relative; right:0;}
#fixedemail:not(:hover) > span{position:absolute; opacity:0; right:-400px;}
#fixedlocation{background-color: rgba(144,173,187,0.6); border-radius: 0 0 0 10px;}
#fixedlocation:hover > span{position:relative; right:0;}
#fixedlocation:not(:hover) > span{position:absolute; opacity:0; right:-400px;}
#QR{display:none; position:fixed; right:80px; bottom: 30%; z-index:100; max-width: 200px;border-radius: 10px;}
#QR img{max-height: 180px; width: auto; border-radius: 10px;background-color: rgba(144,173,187,0.6)}

/*for the footer*/
.footer{background-color: #CFCFCF; padding-top: 2%;padding-bottom: 2%}
.footer .row{width:84%; margin-left: 8%}
.footer .icon{width:50%}
.footer h1{font-size: 35px;margin-top:18%; line-height: 80%; margin-left: 20%}
.footer h2{width:100%;font-size: 20px;line-height: 80%; padding-left:3%}
.footer p{font-size: 15px}
.footer .wechatheader .row {width:100%; margin-top:18%; margin-left: 0;}
.footer .wechatdetail .row {width:100%; margin-top:18%; margin-left: 0;}
.footer .row .row .col-6 {padding:0; margin:0;}
.footer .row .row .col-6 span{display: inline}
.footer .row .row .col-6 img{width:15%;}
.footer .row p img{width: 10%; margin-top: 1%;}
.footer .row a{font-size:15px; text-decoration:none;}
.footer .row a:hover{text-decoration: none}
.footer .contactinfo .row .col-2 {padding:0; margin:0}
.footer .contactinfo .row .col-2 img{width:100%;margin:0; padding:10%}
.footer .social{margin-left: 10%;}

@media screen and (max-width : 576px){
  #navbar .navbar-brand img {width:80%; margin-left: 10%}
}

@media (min-width:769px){
  #burger{display:none}
  #fixed{display:block}
}
@media (max-width:768px){
  #burger{display:block}
  #fixed{display:none;}
}
