.banner{width: 100%; clear: both; overflow: hidden; position: relative; margin-top: 100px; color:white}
.banner img{ width: 100%;}
.banner .ontop{position: absolute; left: 0; top:20%; background-color: rgba(207, 103, 102,0.8); width: 55%;border-radius: 0 15px 15px 0; padding: 4%;}
.banner .ontop .heading{font-size: 3vw; font-weight: bolder}
.banner .ontop .cube{margin-top: 30%;;background-color: white; color:black; font-size: 2.5vw; line-height: 120%; padding:3%; text-align: center; font-weight: bolder}
.banner .ontop .content{font-size: 1.2vw;}
.banner .ontop-en{position: absolute; left: 0; top:22%; background-color: rgba(144,173,187,0.8); width: 55%;border-radius: 0 15px 15px 0; padding: 4%;}
.banner .ontop-en .heading{font-size: 3vw; font-weight: bolder}
.banner .ontop-en .cube{margin-top: 30%;;background-color: white; color:black; font-size: 2.5vw; line-height: 120%; padding:3%; text-align: center; font-weight: bolder}
.banner .ontop-en .content{font-size: 1.2vw;}

.introduction{width:100%; overflow:hidden; padding:0; padding-top:5%; padding-bottom:3%; background-color:#CFCFCF; position:relative;}
.introduction .heading{margin-bottom:3%}
.introduction .heading h1{font-family:"Lato-Bold"; font-size: 3.2vw; color:#031424; text-align: center;border-bottom: 2px solid #90ADBB;padding:0 5% 1% 5%;}
.introduction .content{width:80%; margin-left: 10%}
.introduction .content p{font-size: 1.2vw; margin:0;}

.crowd{width:100%; overflow:hidden; padding:0; padding-top:5%; padding-bottom:3%; background-color:white}
.crowd .heading{margin-bottom:3%}
.crowd .heading h1{font-family:"Lato-Bold"; font-size: 3.2vw; color:#031424; text-align: center;border-bottom: 2px solid #90ADBB;padding:0 5% 1% 5%;}
.crowd .content{width:80%; margin-left: 10%}
.crowd .content img{width:50%; margin-left: 25%}
.crowd .content p{padding-top: 10%}
/*.crowd .circle{width:60%;border:1px solid black;border-radius: 50%; margin-left: 20%}
.crowd .circle::after{content: ""; display: block; padding-top: 100%;}*/

.advance{width:100%; overflow:hidden; padding:0; padding-top:5%; padding-bottom:3%; background-color:#CFCFCF}
.advance .heading{margin-bottom:3%}
.advance .heading h1{font-family:"Lato-Bold"; font-size: 3.2vw; color:#031424; text-align: center;border-bottom: 2px solid #90ADBB;padding:0 5% 1% 5%;}
.advance .content{width:80%; margin-left: 10%}
.advance .content div{overflow: hidden}
.advance .content div img{width: 100%; margin-top: -40%}
.advance .content div p{padding:2%}


.workflow{width:100%; padding:0; padding-top: 5%; padding-bottom: 3%;overflow: hidden;background-color: white;}
.workflow .heading{margin-bottom: 3%}
.workflow .heading h1{font-family:"Lato-Bold"; font-size: 3.2vw; color:#031424; text-align: center;border-bottom: 2px solid #90ADBB;padding:0 5% 1% 5%;}
.workflow img{width:80%; margin-left: 10%}

@media (max-width : 576px){
  .crowd .heading h1{font-size:6.0vw}
  .workflow .heading h1{font-size:6.0vw}
  .advance .heading h1{font-size:6.0vw}
}

@media (min-width : 577px) and (max-width : 768px){
  .crowd .heading h1{font-size:4.5vw}
  .workflow .heading h1{font-size: 4.5vw}
  .advance .heading h1{font-size:4.5vw}
}
