.banner{width: 100%; clear: both; overflow: hidden; position: relative; margin-top: 100px;}
.banner img{ width: 100%; display: block; left: 0; top: 0}
.banner .ontop{position: absolute; left: 0; top:30%; background-color: rgba(144,173,187,0.8); width: 55%;border-radius: 0 30px 30px 0; padding: 4%;}
.banner .ontop .heading h1{font-size: 3.2vw; font-weight: bolder; color:white}
.banner .ontop .introduction {margin-top: 5%}
.banner .ontop .introduction .heading{width:20%;}
.banner .ontop .introduction .heading h1{font-size: 2.6vw; background-color: white; font-weight: bolder; color:black; text-align:center; margin-top: 10%; padding:5%}
.banner .ontop .introduction .content{width:75%; margin-left: 5%}
.banner .ontop .introduction .content p{font-size:1.2vw; color:white}
.banner .ontop-en{position: absolute; left: 0; top:30%; background-color: rgba(144,173,187,0.8); width: 55%;border-radius: 0 30px 30px 0; padding: 4%;}
.banner .ontop-en h1{font-size: 3.2vw; font-weight: bolder; color:white}
.banner .ontop-en .heading{width:20%;}
.banner .ontop-en .heading h1{font-size: 2.6vw; background-color: white; font-weight: bolder; color:black; text-align:center; margin-top: 10%; padding:5%}
.banner .ontop-en .content{width:75%; margin-left: 5%}
.banner .ontop-en .content p{font-size:1.2vw; color:white}

.services {background-color: #CFCFCF; overflow: hidden; padding-top:5%;}
.services .heading{ margin-bottom:3%}
.services .heading h1{font-family: "Lato-Bold"; font-size: 3.2vw; color:#031424; text-align: center;border-bottom: 2px solid #90ADBB;padding:0 5% 1% 5%}
.services .row:nth-child(2),.services .row:nth-child(3){width: 80%; margin-left: 10%; margin-top:1%}
.services img{width:100%}
.services .describe{height:80%; background-color: white; padding:8%; margin-bottom: 5%}
.services .describe .s2{margin-top:10%}
.services .describe h6{margin:1%; font-size:25px}
.services .describe p{margin:1%; font-size:15px}
.services .describe img{margin-top:2%}
.services .describe span{margin-left: 17px;}

.lbtri {width:0; height:0; border-top: 15px solid transparent; border-left: 15px solid #90ADBB;position:absolute;}

.workflow{width:100%; padding-top:5%;overflow: hidden;background-color: white; margin-bottom:5%}
.workflow .heading{margin-bottom: 3%}
.workflow .heading h1{font-family:"Lato-Bold"; font-size: 3.2vw; color:#031424; text-align: center;border-bottom: 2px solid #90ADBB;padding:0 5% 1% 5%}
.workflow img{width:80%; margin-left: 10%}


@media (max-width : 576px){
  .workflow .heading h1{font-size:6.0vw}
  .services .heading h1{font-size:6.0vw}
}

@media (min-width : 577px) and (max-width : 768px){
  .workflow .heading h1{font-size:4.5vw}
  .services .heading h1{font-size: 4.5vw}
}
