.banner{width: 100%; clear: both; overflow: hidden; position: relative; margin-top: 100px;}
.banner img{ width: 100%; display: block; left: 0; top: 0}
.banner .ontop{position: absolute; left: 0; top:22%; background-color: rgba(144,173,187,0.8); width: 55%;border-radius: 0 15px 15px 0; padding: 4%;}
.banner .ontop .row:first-child{width:85%;}
.banner .ontop .left span{font-size: 2.8vw; padding: 0; margin: 0; color:#90ADBB; line-height: 90%}
.banner .ontop .right span:first-child{font-size: 2.5vw; color: #031424; line-height: 90%;}
.banner .ontop .right span:last-child{font-size: 2.55vw;color: white; line-height:120%}
.banner .ontop .row:last-child{width:104%}
.banner .ontop .bottom span{color:#30415D; font-size: 1vw;}
.banner .ontop-en{position: absolute; left: 0; top:22%; background-color: rgba(144,173,187,0.8); width: 55%;border-radius: 0 15px 15px 0; padding: 4%;}
.banner .ontop-en .cube{background-color: white; color:#90ADBB; width:27%; padding:1%; margin-top: -16.5%}
.banner .ontop-en .cube h1{ margin-bottom: 0; text-align: center; font-size: 3.5vw;}
.banner .ontop-en .cube p{text-align: center; font-size: 1.8vw; margin-bottom: 0}
.banner .ontop-en .detail{margin-top: 8%; margin-left: 10%}
.banner .ontop-en .detail p{font-size: 2.7vw; color:white; font-family: "Lato-Bold"}

.children{width:100%; padding:0; margin-top:5%;padding-right: 1%;overflow: hidden}
.children .child{padding:0;width:24%;height:13vw; background-color:#90ADBB}
.children .child:nth-child(2){background-color: #CF6766}
.children .child:first-child{width:20%;}
.children .child:not(:first-child){margin-left: 9vw}
.children .child:not(:first-child)::before{content:""; display: block;height:0; width:0; border-style: solid; border-width: 6.5vw 0 6.5vw 9vw; border-color:transparent transparent transparent white;}
.children .child::after{content:""; display: block;height:0; width:0; border-style: solid; border-width: 6.5vw 0 6.5vw 9vw; border-color:transparent transparent transparent #90ADBB;position:absolute;top:0; margin-left: 24.1%}
.children .child:nth-child(2)::after{border-left-color: #CF6766}
.children .child:first-child::after{margin-left: 20.1%;}
.children .child a{position:absolute; top:30%; margin-left:14%; font-size: 2.7vw; z-index: 3; color:white; text-decoration:none;}
.children .child a:hover{text-decoration: none; font-weight: bolder; transform:scale(1.2); text-shadow: 3px 3px 3px black}
.children .backbar{height:10vw; top: 1.5vw; background-color: #CFCFCF; width:100%; position: absolute;background-color: rgba(81,81,81,0.2); z-index: 2}

.assesment{background-color: inherit; margin-bottom: 5%; border:1px solid black;}
.assesment .heading{padding-top: 4%; padding-bottom: 2%;background-color:white;}
.assesment .heading h1{font-family: "Lato-Bold"; font-size: 3.2vw; color:#031424; text-align: center;border-bottom: 2px solid #90ADBB; }
.assesment img{max-width: 100%; height:auto;}
.assesment .assesForm{position:absolute; top:20%; left:0; color: white; font-size: 0.9vw; font-weight: bold;}
.assesment .assesForm .form-group{ margin:0}
.assesment .assesForm form .row{margin-bottom: 1%}
.assesment .assesForm form input{display: inline; width: 70%; border-radius: 7px; border:none;float:right}
.assesment .assesForm form button{width:80%;border: none; background-color: #90ADBB; border-radius: 10px; padding:1%; color:white; margin-left:10%; margin-top:5%}
.assesment .assesForm form img{width: 20%; margin-bottom: 2%}

@media (max-width : 576px){
  .assesment .heading h1{font-size:6.0vw}
}

@media (min-width : 577px) and (max-width : 768px){
  .assesment .heading h1{font-size:4.5vw}
}
