.banner{width: 100%;clear: both; overflow: hidden; position: relative; margin-top: 100px;}
.banner img{width:100%;margin-top: -10%;margin-bottom: -10%}
.banner .bannerText{top:18%; right:55%; width: 40%;text-align: center; color: #fff;position:absolute;}
.banner .bannerText h1{font-family: "Lato-Bold"; font-size: 3.5vw;text-shadow: 3px 3px 5px black;width:100%;text-align: center;}
.banner .bannerText p{font-family:"Lato-Light"; font-size: 1vw ; color:black; padding:5%; text-align: left;}


.programs{width:100%;padding-top: 5%; padding-bottom: 3%;background-color: #CFCFCF}
.programs .header{width:100%;margin-bottom: 3%}
.programs .header h1{padding:0 5% 1% 5%;border-bottom: 2px solid #90ADBB; font-size: 3.2vw; color:#031424}
.programs .content{width:80%; margin-left: 10%;}
.programs .content img{width:100%}
.programs .content h1{font-size: 2.5vw}
.programs .content p{font-size:1.5vw}

.workflow{width:100%; padding:0 0 10% 0;overflow: hidden;background-color: white;}
.workflow .heading{width:100%;padding-top:4%; padding-bottom:2%; background-color:white;}
.workflow .heading h1{font-family:"Lato-Bold"; font-size: 3.2vw; color:#031424; text-align: center;border-bottom: 2px solid #90ADBB;padding:1% 5% 1% 5%;}
.workflow img{width:80%;margin-left: 10%}

@media (max-width : 576px){
  .programs .content h1{font-size:6.0vw}
  .workflow .heading h1{font-size:6.0vw}
  .programs .content p{font-size:12px}
}

@media (min-width : 577px) and (max-width : 768px){
  .programs .content h1{font-size:4.5vw}
  .workflow .heading h1{font-size: 4.5vw}
  .programs .content p{font-size:12px}
}
