.banner{width: 100%; clear: both; overflow: hidden; position: relative; margin-top:100px;}
.banner img{width:100%; display:block;}
.banner .bannerText{position:absolute; right: 5%; top:30%; width: 70%;}
.banner .bannerText .heading{text-transform: uppercase;font-size: 3vw; letter-spacing: 1vw; font-weight: bolder; color:white; text-shadow: 0.3vw 0.3vw 0.5vw black}
.banner .bannerText .subtitle{font-size: 1.5vw; font-weight: bold; color:white; }
.banner .bannerText .bar{width: 3%; border:1px solid white;}
.banner .bannerText .details{width:50%; margin-left: 25%; margin-top: 4%}
.banner .bannerText .details button{padding:1.5% 6% 1.5% 6%; border-radius: 5px; box-shadow: none; border:none;font-size: 1vw; background-color:#90ADBB; color:white}

.posters {width:100%; padding:0; margin:0; padding-top:5%; padding-bottom: 3%;overflow: hidden;}
.posters .heading{margin-bottom: 3%}
.posters .heading h1{padding:0 5% 1% 5%;border-bottom: 2px solid #90ADBB; font-size: 3.2vw; color:#031424;}
.posters .content{width: 80%; margin-left:10%; margin-bottom: 3%;white-space: nowrap;}
.posters .content img{width: 100%}
.posters .content h2{font-size: 3.5vw;  margin-top: 20%; margin-bottom: 10%;font-weight: bolder; padding: 0 2% 1% 2%; border-bottom:1px solid #90ADBB; width: auto}
.posters .content p{font-size:1.2vw; font-size: bolder; padding:0; white-space: normal;}

.itinerary {width:100%; padding:0; margin:0; padding-top:5%; padding-bottom: 3%;overflow: hidden; background-color: #CFCFCF; margin-bottom: 5%}
.itinerary .heading{margin-bottom: 3%}
.itinerary .heading h1{padding:0 5% 1% 5%;border-bottom: 2px solid #90ADBB; font-size: 3.2vw; color:#031424;}
.itinerary .content h2{font-size:2.5vw; font-weight: bolder; color:white; margin-top: 100%;padding: 20% 20% 20% 20%}
.itinerary .content h3{ margin-top: 20%; font-size:1vw}
.itinerary .content span{font-size: 1vw}
.itinerary .content table {border: 1px solid black}
.itinerary .content table th, .itinerary .content table td{border:1px solid black; padding:1%; white-space: nowrap;}
.itinerary .content table th{width:13%}
.itinerary .content table td{width:22%}
.itinerary .content table td:last-child{width:40%}
.itinerary button{padding:1% 5% 1% 5%; border-radius: 5px; box-shadow: none; border:none;font-size: 2vw; background-color:#90ADBB; color:white;}
